[2017-05-29 14:06] simonduq opened #1 "Documentation"
Setup process that auto-compiled doxygen and uploads it to some web. Clean-slate restart of the /doc directory

[2017-05-29 14:19] simonduq opened #2 "Yanzi's application layers"
Figure out if and how we should add complete application architectures in the Contiki file tree.

[2017-05-29 14:20] simonduq opened #3 "Rework RPL border router"
Figure out how to add an significantly improved border router to Contiki and where it should be.

[2017-05-29 14:20] simonduq opened #4 "Github Project"
Setup  a project for the new Contiki

[2017-05-29 14:20] #4 closed, assigned to joakimeriksson

[2017-05-29 14:22] simonduq opened #5 "Merge platform cooja-ip64 into cooja"
make it a flag of platform cooja rather than a platform of its own

[2017-05-29 14:59] simonduq opened #6 "Homogenize platforms"
Avoid code duplication.

Common main (George: Perhaps one that allows platform-specific hooks)

Common examples (now we have the same examples copied 10 times). George: See what I’ve done with sensniff in order to be able to provide a more-or-less-but-not-quite platform independent example. Design could perhaps be improved, but we should be able to have BRs and Slip Radios using similar design.

[2017-05-29 15:00] simonduq opened #7 "Cleanup apps"
Move generic services to core
Move example apps to examples
Remove useless stuff

[2017-05-29 15:01] simonduq opened #8 "RPL-lite, a dependable and lightweight implementation of RPL"
New, streamlined implementation of RPL. Focus on non-storing mode, single instance/dodag, everything simpler and more robust.

[2017-05-29 15:02] simonduq opened #9 "Remove IPv4"

[2017-05-29 15:02] simonduq opened #10 "Re-arrange /core/net"
Move rpl to ipv6?
Move ip to ipv6? (once ipv4 is removed)

[2017-05-29 15:04] simonduq opened #11 "Focus on IoT platforms"
Only platforms with network interface. Only 32-bit platforms, except for sky.

[2017-05-29 15:05] simonduq opened #12 "General cleanup"
Refactor examples, core, apps, paltforms, regression tests, everything

[2017-05-29 15:06] simonduq opened #13 "Configurable logging/debug"
Make it possible to centrally configure debug levels on a per-module basis (similar to TSCH)

[2017-05-29 15:07] simonduq opened #14 "LLSEC is not a layer: remove"
Link-layer security is not a layer. Should be done as part of the MAC, like in TSCH.

[2017-05-29 15:07] #14 closed, assigned to simonduq

[2017-05-29 15:07] #11 closed, assigned to simonduq

[2017-05-29 15:08] simonduq opened #15 "Merge MAC and RDC layers"
csma+nullrdc becomes csma
tsch+nordc becomes tsch
nullmac+nordc becomes nullmac
no other MAC nor RDC left!

[2017-05-29 15:08] #15 closed, assigned to simonduq

[2017-05-29 15:09] simonduq opened #16 "DTLS support"

[2017-05-29 15:09] simonduq opened #17 "IP-in-IP and 6lorh"
We're lagging behind, this is required for standard-compliant RPL

[2017-05-30 09:26] simonduq opened #18 "Cooja as a git submodule"

[2017-05-30 09:27] simonduq opened #19 "Re-add exp5438"

[2017-05-30 09:27] g-oikonomou opened #20 "Mobility support"
If we have modular routing, it may be worth bringing back AODV (but for v6) or something else such as LOADng. This will allow mobility support.

[2017-05-30 09:31] g-oikonomou opened #21 "Provide a power-saving layer 2 that supports all platforms"
CC13xx cannot work with TSCH at the moment. We need to provide a layer 2 that works with this platform, till TSCH has been ported over to support it.

This does not necessarily need to keep the original MAC/RDC separation.

[2017-05-30 09:32] g-oikonomou opened #22 "BLE radio API"
Something similar to nRF52

[2017-05-30 09:35] simonduq opened #23 "Dockerize instant Contiki"

[2017-05-30 12:02] simonduq opened #24 "Generic routing protocol API"
Define routing drivers, and make RPL replaceable with e.g. RIP-NG, LoadNG or anything

[2017-05-31 13:19] simonduq opened #25 "Discussion: RPL storing / non-storing"
The current plan for RPL-lite (https://github.com/sics-iot/contiki/issues/8) is to support only non-storing mode, because storing it is basically complex and broken. Complex because of stateful route maintenance (registration and de-registration that must be done for every single child and at every node on the path to the root). Broken because it is unable to maintain the routing state consistent.

[2017-05-31 13:52] joakimeriksson opened #26 "Add IP_LAYER to NETSTACK"
We need to have a full layering in Contiki. At Yanzi we have added a upper layer in form of an IP_LAYER which means that any lower layer would rather do IP_LAYER.input() rather than tcpip_input() or similar. The same goes for upper layer that will send IP in a similar way. This way it is possible to do very advanced IP packet filters by indirection (have your own proxy-IP-LAYER in between) - and i

[2017-06-15 15:37] nvt opened #27 "Enhanced testing framework"
The regression tests are mostly checking that the system behaves as expected for limited inputs and scenarios. A way to increase coverage and testing other aspects such as software security would be to involve more types of tests; e.g., unit testing, static analysis, and fuzzing. For the latter, the procedure takes a long time, so we may want to divide tests that are done for a PR and for a releas

[2017-06-16 11:29] #25 closed, assigned to nobody

[2017-06-19 07:14] simonduq opened #36 "Layer configuration"
This is to discuss how to handle configuration of layers. A problem with the current solution, where we set directly the driver, is that there is no way to know from a pre-processor macro which layer is being used. For instance, if you enable TSCH, then you'd like your platform-conf to figure this out and configure the radio accordingly. But instead we always need workarounds, e.g., "set the MAC l

[2017-06-22 11:03] #9 closed, assigned to nobody

[2017-06-22 11:04] #13 closed, assigned to nobody

[2017-06-22 11:13] simonduq opened #41 "Pull bugfixes/PRs from contiki-os/contiki"
* Recently merged PRs
* Selected pending PRs

[2017-06-22 11:27] simonduq opened #42 "LWM2M"
Significant improvement over the current implementation with more of the LWM2M 1.0 features implemented and less memory consumption

[2017-06-22 12:11] simonduq opened #43 "Common API for RPL and RPL-lite"

[2017-06-22 12:46] nvt opened #44 "Non-blocking APIs"
Some of the APIs have blocking functions that can take hundreds of milliseconds. "xmem", and possibly some other APIs, should be redesigned a bit so that they do not start busy-looping on a call. This would also require the CFS API to change.

[2017-06-30 14:51] #43 closed, assigned to nfi

[2017-06-30 14:52] #12 closed, assigned to nobody

[2017-07-04 15:31] #8 closed, assigned to simonduq

[2017-07-20 08:43] simonduq opened #57 "Issue found in H2020 Vessedia"
uip_conns ends up declared with two different sizes in two different modules, there is a link-time clash:

when parsing `examples/ipv6/rpl-udp/udp-server.c`:
[code]

[2017-08-25 12:47] simonduq opened #58 "Remove platform Galileo"
the platform is retired, according to Intel. Also, it's an Ethernet-only platform.

[2017-08-31 13:58] simonduq opened #59 "Enable networking on native"
Similar to the former platform minimal-net, via tun/tap. Enabled testing of network-layer and above protocols locally, e.g. run a Contiki node as process and CoAP request it from the Linux host.

[2017-09-01 11:43] #58 closed, assigned to simonduq

[2017-09-01 12:12] simonduq opened #61 "Module auto initialization"

[2017-09-02 07:12] simonduq opened #62 "No-IP netstack"
For IP-less testing, a network layer that does essentially nothing

[2017-09-08 12:03] #10 closed, assigned to nvt

[2017-09-22 11:44] joakimeriksson opened #75 "uipbuf - module"
Add a uipbuf module with uip attributes and functions for handling packets (such as uint8_t * get_next_protocol_header(uint8_t *p), get_final_protocol_header(*p) etc).

[2017-09-27 18:30] #62 closed, assigned to simonduq

[2017-09-27 18:31] #36 closed, assigned to simonduq

[2017-09-29 08:43] #57 closed, assigned to nobody

[2017-09-29 09:03] #7 closed, assigned to nvt, joakimeriksson, nfi

[2017-09-29 11:36] g-oikonomou opened #77 "HAL for common peripherals"
Homogeneous API for things like SPI, I2C, sensors, so that most examples can run on multiple platforms merely through configuration, but without code modifications.

* [X] GPIO: #257
* [X] LEDS: #319
* [x] Buttons: #169
* [x] SPI: #264
* [ ] I2C: #185
* [ ] UART / Char I/O

[2017-09-29 11:41] g-oikonomou opened #78 "Power-saving MAC for sub-ghz radios"
CC1310, CC1200 etc. This could be merely adding TSCH support for those radios.

[2017-09-29 11:41] #78 closed, assigned to nobody

[2017-10-06 15:37] simonduq opened #83 "Fix the confusing name srf06-cc26xx"
At least I am confused, as this also contains cc13xx.
Any way to make things clearer? And easier to type?

[2017-10-08 07:28] simonduq opened #87 "Add Travis test for native tun0 interface, e.g. ping and/or coap"

[2017-10-08 07:29] simonduq opened #88 "Add Travis test for BR"
This might have some open challenges? Not sure. No specific milestone for this yet.

[2017-10-09 09:29] #75 closed, assigned to nobody

[2017-10-09 09:29] #26 closed, assigned to joakimeriksson

[2017-10-09 09:30] #59 closed, assigned to joakimeriksson

[2017-10-10 19:15] #5 closed, assigned to simonduq

[2017-10-15 18:39] g-oikonomou opened #100 "What has priority when configuring netstack?"
Hey guys

In `netstack.h`

[code]

Unless I've mistaken something here, if `Makefile`s and the various `-conf.h` files disagree, the latter win. Is this the intention? Certainly not how I interpret the comment at the start?

Ditto for the network layer.

[2017-10-17 13:56] joakimeriksson opened #101 "Improved API for random number generation"
We need to add an API for filling a buffer with random values as this is often a type of functions used for various encryption and security mechanisms.

Something like:

random_fill(uint8_t *buffer, size_t len);

[2017-10-19 11:31] nvt opened #103 "New version string"
At startup, the first line printed is typically the CONTIKI_VERSION_STRING value set in Makefile.include, which looks like "Contiki-3.x-3638-gc1a917a". Should we change it to "Contiki-NG-3638-g1a917a", "Contiki-NG-1.x-3638-g1a917a", or something else?

[2017-10-20 14:01] atiselsts opened #104 "Stack guard"
See the discussion here: https://github.com/contiki-os/contiki/pull/2089

I can adapt it for Contiki-NG (some work required) and resubmit here.

The one thing remaining to discuss here: do you have objections against it being enabled by default?
As I stated in the "old" Contiki PR discussion, I believe it would be much more useful if enabled. "Release" builds can always explicitly remove it, by si

[2017-10-20 14:04] atiselsts opened #105 "Stats for TSCH and extensions in link stats"
Points for discussion:

- have a stats structure for a single timesource node only, or for each TSCH neighbor? (currently implemented for single only; previous version for each neighbor, but had to drop that because of RAM limitations)
- enabled by default? (currently not)

[2017-10-20 14:08] atiselsts opened #106 "Allow to set a different number of MAC retransmissions for each packet"
Enables QoS classes at the network stack & application level. For example, monitoring traffic could be given fewer retransmissions that data collection traffic.

[2017-10-20 14:14] atiselsts opened #107 "Adaptive channel selection for TSCH"
There are multiple options how to adapt the channels. Here I'm thinking about an RSSI based approach, where the coordinator node only. I.e. the coordinator sniffs the background noise RSSI levels and accumulates the busy / not busy estimates in a TSCH local stats structure.

The core TSCH part is simple, once the TSCH stats patch is in place.

The actual selection process is more complex, but done

[2017-10-20 15:19] atiselsts opened #108 "Energest: add deep sleep mode"
Just an idea for discussion: we have `ENERGEST_TYPE_CPU` and  `ENERGEST_TYPE_LPM` already. Should add something like `ENERGEST_TYPE_DEEP_LPM`.

For example, on our CC2650 board, the average current values are:
- CPU active: 2.7 mA
- Sleep: 1.3 mA
- Deep sleep: ~0.01 mA (~10 uA)

The difference between deep sleep and sleep is two orders of magnitude. Surely that deserves a different energest class?

[2017-10-22 16:54] simonduq opened #110 "Homogenize how platforms are programmed: MOTE/MOTES/PORT variables and .upload/.install target"

[2017-10-23 13:48] g-oikonomou opened #111 "Tidy-up examples"
* Remove old / unused ones.
* Test json-ws (and some others)
* Review platform-specific/

[2017-10-25 10:14] #100 closed, assigned to nobody

[2017-10-26 13:24] #18 closed, assigned to nfi

[2017-10-29 19:38] g-oikonomou opened #128 "RPL-lite: Slow rejoin if root resets"
1. Root starts
2. Mesh node starts and joins the network smoothly
3. Root restarts.
4. Mesh node thinks its link to the root is fresh and no longer sends DAOs. Node thinks it has joined the network, only the root has no path to it.

In the attached PCAP, the root restarts at around frame 52. See how the mesh node does not start probing with unicast DIOs until quite a few minutes later. There is st

[2017-10-30 00:38] g-oikonomou commented on #23
I'm suggesting this for next release.

[2017-10-30 00:39] g-oikonomou commented on #83
@yatch after current open pulls get merged we'll be good to work on this. I'm flagging it for next release.

[2017-10-30 00:40] g-oikonomou commented on #108
Definitely a desirable feature.

[2017-10-30 00:45] g-oikonomou commented on #6
This is a combination of:

* [x] #86
* [ ] #99
* [ ] #122
* [ ] #123
* [ ] #131
* [ ] #132
* [ ] #133

Once those are merged, I am closing this as achieved.

[2017-10-30 00:57] yatch commented on #83
@g-oikonomou 👍

[2017-10-30 01:02] g-oikonomou opened #134 "Build platform Cooja on OS X"
Would be nice to be able to do this. I can provide the exact error message tomorrow, but it's basically about -dynamiclib not being used, this generates a warning which gets treated as an error and the build fails.

[2017-10-30 08:32] simonduq commented on #134
@joakimeriksson @nfi might be able to help here :)

[2017-10-30 08:38] simonduq commented on #128
Thanks for the detailed report.

The natural way to handle this is with DAG version or DTSN increments, maybe periodically or under some condition. Nodes will notice the reboot because these are lollipop, and will local repair immediately and re-send DAO.

A problem is that this will increases also in the reboot-free cases. An alternative, less portable, is to store the last version in persistent

[2017-10-31 08:37] joakimeriksson commented on #134
Yes, this would be very nice to get working on OS-X.

[2017-10-31 21:00] simonduq commented on #87
postponing to this to next release

[2017-10-31 21:02] simonduq commented on #41
Postponing this to next release, merging a core TSCH fix so close to release is too scary

[2017-10-31 21:38] joakimeriksson commented on #134
let's try to get this for the Spring 2018 release (as it might be a bit of work - I have a feeling that it might be some 64 vs 32-bit java issues hidden here also - and if we fix them I guess Cooja in docker is easy also).

[2017-10-31 21:43] simonduq opened #140 "Toolchain installation guide for OS X"
To be added to https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation

[2017-10-31 22:47] #108 closed

[2017-11-01 11:54] simonduq opened #144 "Cleanup tools directory"
Re-structure, make sure old tools and dead code is removed, enhance selected tools etc

[2017-11-01 16:12] simonduq commented on #19
Assigning to next release

[2017-11-01 16:13] simonduq commented on #6
This is done!

[2017-11-01 16:13] #6 closed

[2017-11-01 16:14] simonduq commented on #1
Fairly complete now at https://github.com/contiki-ng/contiki-ng/wiki

[2017-11-01 16:14] #1 closed

[2017-11-01 16:22] simonduq commented on #103
done in https://github.com/contiki-ng/contiki-ng/pull/117

[2017-11-01 16:22] #103 closed

[2017-11-01 16:24] simonduq commented on #111
This was done in https://github.com/contiki-ng/contiki-ng/pull/123 and multiple subsequent PRs

[2017-11-01 16:24] #111 closed

[2017-11-01 16:31] simonduq commented on #77
It's currently flagged as discussion, removing milestone

[2017-11-04 19:40] atiselsts commented on #106
Been working this today. This is implemented for SPHERE, but in a way that's not general enough, so I thought to redo it properly.

Current ideas are:
* add a new field to `struct uip_conn` and `struct uip_udp_conn`; encourage to set it from application code:
    `uint8_t max_mac_transmissions; /**< Number of max MAC-layer transmissions. */`
* define a new constant `UIP_DEFAULT_MAX_MAC_TRANSMISSIO

[2017-11-04 22:18] simonduq commented on #106
Sounds good. Maybe for generality and for cross-technology contexts, we should not carry the #tx as traffic class, but rather use traffic classes such as 0, 1, 2, that are then mapped to link-layer policies (e.g., setting #tx to some value) at every node.

[2017-11-05 22:50] g-oikonomou opened #156 "Tidy-up sensors in platform native"
There are various sensors (pir, button, vib, temp and a thing called "beep"!). Review if they are in use and remove as necessary.

[2017-11-05 22:52] g-oikonomou opened #157 "Enhanced, 6lbr-friendly slip-radio"
With the extended RF API there is a number of nice things we can do with tunslip6/slip-radio.

Plus, 6lbr has had to maintain a modified version internally, so it'd be great if our slip-radio and tunslup6 get aligned with 6lbr.

[2017-11-06 12:34] simonduq opened #158 "Tutorial / example: add something on using BR in Cooja"

[2017-11-06 22:35] simonduq opened #159 "Documentation: add "porting to new HW platform guide""

[2017-11-07 21:10] joakimeriksson commented on #157
I would love to make really significant move towards a more advanced serial radio with configuration, upgrade over serial, etc. And get 6LBR to make use of that also - if possible. We have such a serial-radio in Sparrow and I am kind of hoping we could make use of it + some more features to enable TSCH scheduling in the serial radio also.

[2017-11-07 21:20] joakimeriksson commented on #140
Should we go for a separate page for this or do different section on the same page?

[2017-11-07 22:35] sieben opened #162 "Why mentionning emacs in toolchain ?"
https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation Why does this page mention emacs?

[2017-11-07 22:39] remyleone opened #163 "Contiki-ng logo"
That would be a killer feature compared to contiki :)

[2017-11-07 23:12] simonduq commented on #163
This planned yes, we will have a logo by the next release (which is due
next spring)!

[2017-11-08 06:54] joakimeriksson commented on #162
Because some of us have been using emacs for development - any other editor would work also! Any suggestions that you would prefer?

[2017-11-08 07:11] sieben commented on #162
No editor at all. 😃 People can install a new one if they want to. Plus it
avoids flame wars.

Le mer. 8 nov. 2017 07:54, Joakim Eriksson <notifications@github.com> a
écrit :

[2017-11-08 07:52] joakimeriksson commented on #162
Ok, so writing "apt get install <YOUR-FAVORITE-EDITOR>" is what we need ;-)

[2017-11-08 08:06] joakimeriksson commented on #162
Moved away emacs from the install list now. Ok?

[2017-11-08 09:24] sieben commented on #162
yup :)

[2017-11-08 09:25] #162 closed

[2017-11-08 09:51] zhitaoh opened #164 "Copper broken by latest Firefox"
Firefox upgrades its extension framework, which unfortunately stops the Copper CoAP plugin from working since version 56. And it won't be fixed in the foreseeable future because the new framework does not allow custom protocol handlers. See Matthias' explanation:
https://github.com/mkovatsc/Copper/issues/29

This means the Contiki toolchain installation wiki needs to be modified, so that users don

[2017-11-08 14:14] simonduq commented on #140
maybe rather a separate page?

[2017-11-08 14:16] simonduq commented on #164
Thanks for reporting this and for the detailed explanation! Do you think you could propose a fix for the wiki page explaining this?

You could edit it there:
https://github.com/contiki-ng/wiki-sandbox/wiki/Toolchain-installation

And then comment again here so we integrate in the main wiki.

Thanks!

[2017-11-08 14:17] simonduq commented on #162
👍

[2017-11-08 21:51] zhitaoh commented on #164
Done.

[2017-11-09 08:13] simonduq commented on #164
Awesome, thanks, now updated on main wiki:
https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation

closing

[2017-11-09 08:13] #164 closed

[2017-11-09 16:41] joakimeriksson commented on #42
Now available as  PR #167

[2017-11-09 18:32] e120guru opened #168 "Orchestra and fragmented packets"
It would be really handy with a good way of scheduling a listening (and transmitting) slot immediately if the IPv6 packet was fragmented by 6lowpan layer and there is more fragments to send... This really would make a huge difference in our low duty cycle leaf nodes.

@simonduq and @joakimeriksson mentioned that this might be up for consideration in a standardisation work of Orchestra... Is, and i

[2017-11-09 20:28] g-oikonomou commented on #134
Some more info:

* Firstly, this fails:

[code]

This shouldn't be happening. There is something messed up with the platform's Makefiles somewhere. I think it could be caused by the build system starting off with building `cooja.jar`. Could we turn this into a proper prerequisite?

* Secondly

[code]

To fix this, we need to add this `-I/System/Library/Frameworks/JavaVM.framework/Headers` to `COMP

[2017-11-10 10:47] simonduq commented on #168
Well, you are spot-on. The current draft is at:
https://tools.ietf.org/html/draft-duquennoy-6tisch-asf-00

And based on the feedback at IETF99, we will add two things:
* define how to configure the schedule at bootstrap
* add support for traffic bursts, e.g. fragmented 6lowpan

The way we currently plan to support bursts is to use the IEEE 802.15.4 header "frame pending" bit to signal that there i

[2017-11-10 12:47] g-oikonomou commented on #134
It would also be nice if Cmd+XYZ worked as copy/cut/paste on OS X, instead of having to use Ctrl+C etc :D

[2017-11-11 14:24] g-oikonomou commented on #23
Perhaps what we need is not docker, but either vagrant:
* https://www.vagrantup.com/
* https://github.com/hashicorp/vagrant

or packer:
* https://www.packer.io/
* https://github.com/hashicorp/packer

[2017-11-11 14:48] simonduq commented on #23
Do you see any particular benefits of the two above over Docker, or just mean we should just look at all options before settling for one?

[2017-11-11 14:49] simonduq commented on #23
Maybe also Linux Containers is an option?

[2017-11-13 08:55] yatch opened #178 "Support draft-ietf-6tisch-6top-protocol-09"
While Contiki-NG supports 6top protocol (6P), the supported draft version is [draft-07](https://tools.ietf.org/html/draft-ietf-6tisch-6top-protocol-07), which has been updated by new drafts. The latest 6P draft is [draft-09](https://tools.ietf.org/html/draft-ietf-6tisch-6top-protocol-09); need to update Contiki-NG's 6P code with it.

[2017-11-14 21:13] joakimeriksson commented on #77
We have a set of I2C and SPI APIs for Contiki at Yanzi that we can open-source.

I2C looks more or less like this:
[code]

Then there are device structs used per device:
[code]

[2017-11-15 00:10] g-oikonomou commented on #77
Perfcect. I wonder how you map to pins; internally in the arch-specific driver (presumably assuming a single I2C controller on the chip)?

@fontikos and I pretty much finalised the design for an SPI HAL earlier today, so the two are aligned!

[2017-11-15 06:45] joakimeriksson commented on #77
I can do a PR for the CC2538 driver on this - we do not assume single I2C controller - you can have multiple separate buses if needed - and they could be handled by multiple controllers.

[2017-11-15 09:59] mbaddeley opened #180 "Documentation: Minor text correction to The Contiki‐NG logging system"
[https://github.com/contiki-ng/wiki-sandbox/wiki/Documentation:-The-Contiki%E2%80%90NG-logging-system](url)

[2017-11-15 10:23] simonduq commented on #180
Thanks, integrated!

[2017-11-15 10:23] #180 closed

[2017-11-17 15:04] joakimeriksson commented on #77
We have a SPI implementation that is very similar to the above also (for CC2538 also).

[2017-11-17 15:12] g-oikonomou commented on #77
@fontikos stay tuned, something will appear in a branch/pull by @joakimeriksson and/or @nfi

[2017-11-17 15:24] atiselsts commented on #77
BTW, for software / bit-banging SPI there's literally code on Wikipedia (CC BY-SA license):
https://en.wikipedia.org/wiki/Serial_Peripheral_Interface_Bus#Example_of_bit-banging_the_master_protocol

[2017-11-18 15:05] fontikos commented on #77
Hey all. Sounds good.

As @g-oikonomou may have told you, I have an general purpose SPI driver for the cc26xx-cc13xx family. It works well on our custom cc2650-based platform (3 SPI peripherals in 2 SPI buses), but I'd like to test it on off-the-shelf platforms as well.

[2017-11-19 20:17] joakimeriksson commented on #77
I guess we should be able to get a general purpose SPI API out of what you have and what we have!
There is a PR now (Work in Progress) #185

[2017-11-21 07:54] yoyo890121 opened #186 "cc2538 timer trigger insanely"
Hi,
I try to add a process with timer to do something periodically in `border-router-embedded.c` and `coap-example-server.c`.
I use TSCH MAC layer and my device is cc2538dk.
I tried contiki and timer trigger insanely in beginning, and I set `LPM_CONF_ENABLE` to 0 it still occurred sometime, so I wanted to try contiki-ng.
It seemed to work well in beginning, but sometimes this situation occurred af

[2017-11-21 08:20] simonduq commented on #186
Thanks for reporting. Would you mind sharing a full example code? (c/h and makefile).

[2017-11-21 09:06] yoyo890121 commented on #186
https://gist.github.com/yoyo890121/37336870bc84d291c8f29222c4754079
https://gist.github.com/yoyo890121/6bacd2e9b1f527f2b8e76f130519d1c1

I just edited these files in `contiki-ng/examples`, and set `#define LOG_CONF_LEVEL_MAC
  LOG_LEVEL_DBG` to print log for testing contiki-ng.

Thanks for helping.

[2017-11-21 09:42] simonduq commented on #186
OK thanks. Would be ideal if you could actually share a self-contained branch we can directly try out. BTW is the problem on the BR, the other node or both? Any steps how to reproduce and how the bug exactly manifests itself will help.

Until then, what I think you should try is a basic hello-world with your etimer loop and TSCH enabled. Please let us know how this goes!

[2017-11-21 11:45] yoyo890121 commented on #186
https://github.com/yoyo890121/contiki-ng/tree/hong-testing
Hi, I forked contiki-ng and start a basic hello-world with etimer loop and TSCH enabled testing.
The problem both occurred on BR and node, and when the problem occurred, console printed
`10 seconds.  i=(i)  ` insanely to show this situation.

Thanks.

[2017-11-21 11:52] simonduq commented on #186
Thanks, we will look into this when we find the time!

[2017-11-21 12:46] g-oikonomou commented on #186
Can you try with `etimer_restart()` instead of `_reset()`?

[2017-11-21 13:05] yoyo890121 commented on #186
Yes, I started another mote to try a hello-world with `etimer_restart()` .
Thanks.

[2017-11-21 15:01] mike-forster opened #187 "Serial input on CC1310 Launchpad"
Running through the NG Shell tutorial  on a C1310 Launchpad serial input doesn't work. It needs the line
`  cc26xx_uart_set_input(serial_line_input_byte);`
added after
`  serial_line_unit();` in platform_init_stage_two in platform.c

The terminal program also needs to send CR+LF at the end of the line

[2017-11-21 15:07] g-oikonomou commented on #187
Thanks Mike,

I can confirm this as a bug and it will affect all CC13xx/CC26xx platforms/boards: Serial shell will be non-responsive.

Unless we explicitly request UART RX (by passing a non-NULL function pointer to `cc26xx_uart_set_input()`), the platform code turns the UART off very aggressively to reduce energy consumption. As a result, keystrokes on the terminal are not getting received by the

[2017-11-22 15:43] atiselsts opened #189 "Noise generator example"
I noticed there are no examples that show how to create radio noise, and not many / limited examples that show how to use the `NETSTACK_RADIO` interface directly. Both of which I think are important if Contiki-NG is to remain as research-friendly OS.

I have some code for a simple noise generator, what's your view on adding this to examples? It's useful especially for Cooja simulations; in fact, i

[2017-11-22 16:59] g-oikonomou opened #191 "SLIP-cmd ignores UIP_LLH_LEN"
To send an IPv6 datagram over SLIP, what we should be doing (and have been, even before #190) is to start at `&uip_buf[UIP_LLH_LEN]`. However, we still send `uip_len` bytes, which is clearly wrong. The current code base works by fluke, because on all cases where SLIP is being used `UIP_LLH_LEN` is 0. Change `UIP_LLH_LEN` and we'll overrun `uip_buf`. An easy fix could be to send `uip_len - UIP_LLH_

[2017-11-22 17:32] simonduq commented on #189
These definitely sound like useful features!

[2017-11-22 17:33] mbaddeley commented on #189
I'd quite like this!

[2017-11-22 17:52] joakimeriksson commented on #191
Another bug is that the slip-cmd module is named slip-cmd - it is defaulting on a function related to slip but it is from what I can see not really doing any slip at all. Just sending and receiving from any buffer to a specified output function. We should probably consider another name for this module/service.

In the slip-radio LLH is always zero as there is no IP stack there - just uip-buf  - an

[2017-11-22 20:54] g-oikonomou commented on #191
Fully agree Joakim. Perhaps to quickly fix we just need to explicitly set `UIP_CONF_LLH_LEN` to 0 in the slip example.

My thinking is that we currently have 3 things:

* SLIP
* a request/response protocol over a serial type interface
* debug I/O

I've been kicking myself about a generalised char I/O design and this is exactly what I'm working on (Really, #190 is part of it - tidy up before reengi

[2017-11-22 21:19] necropaz opened #193 "Problem to use COAP client example with CC2650 Sensortag"
I have a problem with the contiki-ng coap client example. I ran a 6lbr with a slip radio on a raspberry pi, which also run a NAT64 translation.

When I build the project with contiki-os as background project all things work great. When I use the contiki-ng project in the background the coap message is send to the right ip address. The last data of the payload is the coap message but in front of it

[2017-11-23 12:09] g-oikonomou opened #195 "The semantics of `node_id`"
I never quite managed to get my head around this one. How do people use it? What is it needed for? I am thinking that we need to come up with a uniform way of handling it across all supported ports.

[2017-11-23 12:51] joakimeriksson commented on #195
Previously a bit used for proprietary protocols similar to a short MAC address of 802.15.4 more or less. Also used in printouts in COOJA, etc for something shorter then a full 802.15.4 MAC address.

[2017-11-23 12:56] simonduq commented on #195
My guess is that it is only of use in research / non-IP setups. I personally use it in testbed, to match the infrastructure's node ID to the internal ID.

[2017-11-23 13:24] g-oikonomou opened #197 "Semantics of the Radio API"
The radio API is not documented and this has caused confusion as to how functions are meant to behave. I think we need to document `radio.h` in terms of what each function is meant to do:

* `init`:
  * Is it meant to enable frame filtering and auto ACKs, if supported? Will TSCH then go and disable those things since they need done in software?
  * Is it meant to select a default channel, or will

[2017-11-23 13:26] g-oikonomou commented on #195
OK that helps. Is there an expected relationship between it, the node's LL address and the short/long address used by the radio?

[2017-11-23 13:28] simonduq commented on #195
I would say no (for sure not in my case)

[2017-11-23 13:29] simonduq commented on #195
Well there can be a *mapping*, if that counts as *relationship*

[2017-11-23 13:29] simonduq commented on #195
I have a module I use for my testbed runs to auto-map node-ID from radio address (per-testbed hardcoded mapping)

[2017-11-23 13:33] g-oikonomou commented on #195
By "relationship" I mean if e.g. `node_id` is 0xABCD does the short address also have to be 0xABCD? Does the long address need to end in 0xABCD? From what you are saying, I understand that the answer is no?

CC13xx/CC26xx platforms do `node_id = short_addr;`. We should either homogenize that, or I can get rid of it altogether.

[2017-11-23 13:41] simonduq commented on #195
The answer is no indeed. I agree on homogenizing!
I could contribute my testbed mapping module.
When the module is not there, we could either have `node_id = short_addr` or why not have no `node_id` at all.

[2017-11-24 10:28] simonduq commented on #197
We really need to fix this. A lot easier now with our more limited set of supported platforms.
One more:
* `RADIO_RX_MODE_ADDRESS_FILTER`: is this only about address filtering (as the name suggests) or is it about 802.15.4 frame parsing (as some of the radio drivers implement)? Shall we add `RADIO_RX_MODE_FRAME_FILTER`?

[2017-11-24 12:11] atiselsts commented on #105
I see that there already are big changed in link stats compared to Contiki not-NG. That makes porting my changes in Contiki non-straightforward, so I'll skip that. Also you have `tx_count` and `ack_count` in link stats already, so adding different kind of packet counters (persistent ones) would be confusing.

Will look at TSCH stats next...

[2017-11-24 12:31] simonduq commented on #105
So, do we keep this issue open or?

[2017-11-24 13:07] simonduq commented on #186
OK I just tried it, but on platform Zoul instead (which is also based on a cc2538 SoC). Could not reproduce the issue. It's been running for 7 minutes now, do we need to wait longer for the bug to happen?

I guess we will need someone to test on actual cc2538-dk.

Meanwhile, please let us know if you found anything.

[2017-11-24 13:19] atiselsts commented on #105
I plan to contribute the TSCH stats.

[2017-11-24 13:30] andy199310 commented on #186
Hello! Thanks for helping us!
I am co-worker of yoyo :)

I traced more code in this period and i think the problem is at **Sleep Timer**.
In this function (https://github.com/contiki-ng/contiki-ng/blob/develop/arch/cpu/cc2538/clock.c#L187)
It update the software ticks `rt_ticks_startup` by calling `RTIMER_NOW()` which refer to `rtimer_arch_now` (https://github.com/contiki-ng/contiki-ng/blob/develo

[2017-11-24 14:21] yoyo890121 commented on #186
Hi,
We don't know what time the bug happen, and we found that the timer jumped 131072 seconds, but the ASN number was normal.
I am trying hello-world and add code to print more clock and timer information, and wait the bug happen.

Thanks for helping!

[2017-11-26 17:02] g-oikonomou opened #200 "Don't disable the CC13xx/CC26xx Debug Interface by default"
`ccfg.c` in CC13xxware/CC26xxware disables the debug interface by default. This is the result of a change in each of the two respective submodules (contiki-os/cc26xxware#1 and contiki-os/cc13xxware#1).

While these changes make absolute sense, they are also causing a lot of inconvenience: Programming a CC13xx/CC26xx device with any firmware that includes these changes locks down the device. It can

[2017-11-26 17:29] fontikos commented on #200
+1

Also, it should, perhaps, be highlighted in a comment that disabling the debug interface is more secure for deployed images.

[2017-11-26 19:25] #200 closed

[2017-11-27 00:17] g-oikonomou commented on #156
#170

[2017-11-27 00:17] #156 closed

[2017-11-27 00:31] g-oikonomou commented on #193
@necropaz reports that all works well if we `#define SICSLOWPAN_CONF_COMPRESS_EXT_HDR 0`.

Closing this.

[2017-11-27 00:31] #193 closed

[2017-11-27 17:55] atiselsts commented on #105
The basic TSCH stats are almost ready from my point of view. But I run into problem when trying to create and example/test program. Sky is not appropriate for this because of `.rom` limitations - even the `simple-node` 6tisch example does not fit on Sky. Cooja mote is not appropriate as its radio does not implement RSSI sampling. Any ideas what to do? Wait for more mspsim platforms or try to impro

[2017-11-27 19:18] simonduq commented on #105
Do you have the example in mind mostly to show the feature or as a CI test or both?

[2017-11-28 14:33] atiselsts commented on #105
To show the feature. More importantly, this RSSI reading functionality would be critical for TSCH adaptive channel selection.

Waiting for `exp5438` support to be added back is no problem - good to know that this is moving forward! Perhaps it also makes sense to create a dummy implementation of reading `RADIO_PARAM_RSSI` for Cooja motes, for example, one that returns a constant value. This is what

[2017-11-28 19:37] AntonioLangiu opened #207 "CoAP not parsing options"
I noticed that the CoAP implementation is not parsing the received options.

After some debugging, I found out that during the refactor of er-coap [this line](https://github.com/contiki-ng/contiki-ng/blob/develop/os/net/app-layer/coap/coap.c#L547) was added in the`coap_parse_message` function. Removing that line fixes the problem.

[2017-11-28 20:10] joakimeriksson commented on #207
Thanks for the report. That certainly looks like a bug. We are currently working on a big PR with CoAP, LWM2M and DTLS and we will ensure that this bug is fixed when that gets in (or even before as a separate fix-PR).

[2017-11-28 20:45] AntonioLangiu commented on #207
Thank you! 👍

[2017-11-28 23:30] g-oikonomou opened #208 "Libraries for common data structures"
It would be nice to provide libraries with implementations of common data structures. In the first instance, I am thinking doubly linked lists, circular lists, queues, stacks. Naturally, there is nothing preventing us from providing libraries for more advanced data structures.

[2017-11-29 14:36] SuFizz opened #209 "I2C slave device - CC2538"
I see contiki doesnt have i2c slave device support for the CC2538. Does anyone have other forks with I2C slave support.

[2017-11-29 17:19] simonduq commented on #207
addressed in https://github.com/contiki-ng/contiki-ng/pull/210

[2017-11-30 12:32] g-oikonomou opened #211 "Convergence with 6lbr"
There is an intention to converge Contiki-NG with [6lbr](https://github.com/cetic/6lbr), in view of one including the other as a submodule in the future.

6lbr should not have to maintain modifications to the Contiki-NG network stack, it is much better for any changes required by 6lbr to be merged into Contiki-NG altogether.

This issue is to maintain a list of changes required so the two projects

[2017-11-30 16:24] joakimeriksson commented on #211
Extensions we have at Yanzi:
* All sorts of commands over the "great" !/? protocol including setting beacons, sending "timed" packets, etc.
* A more generic set-radio-parameter command that can be used via the regular generic radio parameter API:s (param, value)
* full serialisation of all packet attributes (including INTERFACE_ID)
* Encapsulation on top of slip - with CRC32 on the data to avoid s

[2017-11-30 21:04] joakimeriksson commented on #207
and now #210 is in - @AntonioLangiu: I guess this can be closed ?

[2017-11-30 22:21] AntonioLangiu commented on #207
Yes, it can be closed! Thank you for the fast merge!

[2017-11-30 22:21] #207 closed

[2017-11-30 22:25] AntonioLangiu opened #213 "CoAP Block-Wise transfer"
I have a question regarding the CoAP implementation. I like that it is able to manage automatically the Block-Wise transfer, sending a new request to the server if [more blocks are available](https://github.com/contiki-ng/contiki-ng/blob/develop/os/net/app-layer/coap/coap-engine.c#L432), but I would like to know if there is a way to break this loop.
I explain my question with two use cases:
- A cl

[2017-12-01 13:06] atiselsts commented on #106
Speaking about documentation, I feel this should be documented, but don't immediately see a good place in the Wiki. Suggestions?

[2017-12-01 13:08] simonduq commented on #106
Maybe the IPv6 page (which is currently almost empty with just links to some modules, but we should aim for much more content there)

Or under "programming Contiki-NG" somewhere

[2017-12-01 13:15] atiselsts opened #214 "Time synchronization and data timestamping: documentation and example code"
A simple, straightforward to use time synchronization demo is something that Contiki-NG is still missing - judging by the amount of Contiki-related questions I keep seeing about it.

Something like this:
* Is based on TSCH - assumes single, synchronized global clock for the whole network;
* Either uses TSCH timeslot granularity (no core TSCH changes needed) or `rtimer` tick granularity (some core

[2017-12-01 19:33] joakimeriksson commented on #106
Check #215 also! I do agree with the model of having traffic class 0,1,2,3,4... etc and then convert that to something matching some kind of QoS per node. But I guess it is fine for now with a bit of a "hack-ish" model (which is what I kept in the PR I did - but moved things up to the IP-layer)?

[2017-12-02 16:05] simonduq opened #217 "Travis Cron Jobs"
Run periodic jobs on `develop`, testing more than what we have on PRs. See:
https://docs.travis-ci.com/user/cron-jobs/

Current plan:
* Platform-independent examples: compile all to all platforms. We will need a list of exceptions, to not run into memory overflow on sky.
* Platform-specific examples: compile all of them.
* Simulation tests: run all tests based on `Makefile.simulation` with multipl

[2017-12-02 16:10] simonduq commented on #214
I fully agree on the need. I would say tick granularity rather than slot. One challenge: applications clocks usually require monotonic increase, i.e. the clock must never stop nor go back in time. And this is a property that we do not have to enforce at the TSCH level, i.e., if a node is early it will set its time instantly back in time.

This is something to consider if we want to expose a genera

[2017-12-03 15:50] g-oikonomou opened #220 "Asynchronous RF operations"
Currently all our RF operations are synchronous.

Especially for TX, we block waiting for potentially a very long time. It would be nice to be able to return immediately at the start of the TX operation, with the radio notifying about the end of TX through a callback.

A similar technique could be applied to the `on()` operation, in the case of radios that have a very long startup time, e.g. due t

[2017-12-03 19:33] arurke commented on #220
:+1:
For what is worth, I remember @bkozak-scanimetrics implemented an async radio driver for cc2650 as part of https://github.com/contiki-os/contiki/pull/1549 . I never got around to testing it myself though.

[2017-12-04 04:16] yatch commented on #220
Interesting; this would need some adjustments on MAC implementations including TSCH, wouldn't it?

[2017-12-04 07:02] g-oikonomou commented on #220
Yep, MAC implementations as well as radio drivers to get those TX notifications.

[2017-12-04 07:10] yatch commented on #220
@g-oikonomou OK; thanks! 😄

[2017-12-04 12:43] yoyo890121 commented on #186
Hi,
I tried a BR and 3 hello-world node and ran 3 days, the bug happened.
It corresponds with our observation and Andy's description.
Once the bug happen, it will happen often next time.
The following is log of bug happened one for all.

(the bug start)
[code]
(timer trigger insanely)
[code]
(the bug end)

And once the bug happened, the TSCH time drift more and more.
[code]
But we still cannot fin

[2017-12-04 15:49] atiselsts commented on #214
I would prefer timeslot granularity (10 ms). However, if there are specific applications that require better accuracy, and are of interest to many Contiki-NG users then obviously we need to consider that. I just wonder what those applications are?

The tick granularity basically opens a can of worms.
* what you mentioned - lack of monotonicity.
* interoperability between different platforms - rtim

[2017-12-08 17:23] g-oikonomou commented on #104
Closed in #192

[2017-12-08 17:23] #104 closed

[2017-12-10 01:10] #209 closed

[2017-12-10 08:45] simonduq opened #225 "Doxygen for uipbuf.h"
The doc is missing for the new uipbuf module

[2017-12-10 09:58] joakimeriksson commented on #225
Ok, will fix!

[2017-12-12 15:38] simonduq opened #243 "Refactor UIP_BUF defines"
As discussed in https://github.com/contiki-ng/contiki-ng/pull/242

[2017-12-12 19:57] joakimeriksson opened #244 "Bring back LLSEC to CSMA"
There is no longer any way to use LLSEC for CSMA and anything other than TSCH. And the framer still seems to have code that make use of attributes that are removed from packetbuf:
[code]

We need to have support for 802.15.4 link layer security for CSMA also as this is used by some commercial Contiki users.

[2017-12-12 23:15] g-oikonomou opened #245 "Platform native fails to build with MAKE_NET_NULLNET"
To reproduce, just open the hello-world Makefile and try to build with `MAKE_NET = MAKE_NET_NULLNET`.

I'll go as far as label it as a critical bug here guys.

[2017-12-13 06:49] joakimeriksson commented on #245
Ok, we need to add even more compilation tests then! This should be avoided if possible - by having more variation in configs when compiling.

[2017-12-13 08:48] simonduq commented on #225
closed with https://github.com/contiki-ng/contiki-ng/pull/227

[2017-12-13 08:48] #225 closed

[2017-12-13 15:01] laurentderu commented on #211
The first wave of bug fixes from 6LBR is almost done, here are the next steps I propose to converge on the code (the lists are non-exhaustive) :

- [ ] Update SLIP-Radio with 6LBR improvements (#157) (Having Yanzi slip-radio in 6LBR would be great but, as it requires much more effort, should be done in a later phase IMHO)
- [ ] Add hook or layer between tcpip.c and sicslowpan for the Packet Forwar

[2017-12-13 15:06] laurentderu commented on #157
The current 6LBR improvements of the slip-radio are :

- [ ] Set/get channel
- [ ] Set/get PAN-ID
- [ ] Configure MAC address
- [ ] Reset SLIP-Radio
- [ ] Serialize incoming packet attributes
- [ ] CRC-8 support (From @atiselsts)
- [ ] IP SLIP-Radio, to provide basic TSCH radio support

Should be added to be complete :
- [ ] Enable/disable radio

[2017-12-13 15:13] laurentderu opened #247 "Hook or layer between tcpip.c and sicslowpan"
In Contiki-NG version of 6LBR, the Packet Forwarding Engine, which is the module that will forward the incoming or outgoing packet toward the right interface and do packet adaptation, is implemented as NETSTACK_NETWORK module.

However, there is still one place where the PFE must be explicitly called : In sicslowpan.c, the code directly invoke tcpip_input() :

https://github.com/contiki-ng/contiki

[2017-12-13 15:37] joakimeriksson commented on #247
Have you looked at the netstack_process_ip_callback function?

[2017-12-13 15:59] laurentderu commented on #247
I thought the netstack_process_ip_callback was much higher in the stack! Indeed it could do the job nicely.

[2017-12-13 16:01] joakimeriksson commented on #157
We have similar list of features with CRC32 and some more dynamic stuff such as setting TX power and added a container on top of SLIP that is more generic and in the future can support the whole Yanzi application layer (for upgrading serial radio firmware). One important feature is also the multi-mode radio feature that makes it possible to switch between RSSI scanner, packet sniffer or regular se

[2017-12-13 16:02] joakimeriksson commented on #157
(I am ready to help out getting this working fine with 6LBR as I need it for working for Yanzi in the future - and would avoid having multiple different SRs if possible).

[2017-12-13 16:06] #245 closed

[2017-12-13 16:13] laurentderu opened #248 "Replace activation-by-macro of some features by conditional code"
Many features in Contiki-NG are only compiled when setting a macro to 1. 6LBR tries to provides runtime configuration of many features and this conflict sometime with the activation-by-macro.

Compiling both Storing and Non-Storing mode in RPL-Classic is not a problem as both can be enabled using the right macro and then the actual mode is selected by the MOP.
On the other hand, features like DAO-

[2017-12-13 16:26] simonduq commented on #248
What would you think about doing it like `RPL_IS_STORING`? Gets the best of both worlds I believe: enables run-time selection, but still makes it possible to compile the feature out and save memory.

[2017-12-13 16:52] laurentderu opened #249 "Add hook in RPL to be notified when DODAG version changes"
In 6LBR, we store the current DODAG version in NVM (or config file) in order to directly use the right one when restarting the BR.
The current code in Contiki-NG is to use the lollipop init value and then react when DODAG inconsistency is detected, however this increase the start up time. Also this could lead to configuration inconsistencies if the current DODAG is still using the init value and t

[2017-12-13 16:55] joakimeriksson commented on #249
We usually store the DODAG version in the air - e.g. we do send a DIS - take the version and increase - then we are fairly quickly up to a good version and it is not taking too much time either (this is how we handle restarts at Yanzi).

[2017-12-13 16:56] laurentderu commented on #248
I have to look more closely, For example, in https://github.com/contiki-ng/contiki-ng/blob/9d740ca8e6452ad038f3f7934e2f0810ce54e427/os/net/rpl-classic/rpl-icmp6.c#L1090

it's an #if ... #else ... #endif

You should keep the #if ... #else ... #endif and inside the first block, add a if (RPL_IS_DAO_ACK()) and duplicate the code of the #else branch.

[2017-12-13 17:02] laurentderu commented on #249
This does not work with deep sleep nodes; and with TSCH, if the nodes has lost the association with the coordinator, it can take some times for them to join again the network and reply to DIS.

[2017-12-13 17:09] joakimeriksson commented on #249
True - significantly longer time with TSCH.

[2017-12-13 17:22] laurentderu opened #250 "Can not have more than one IP address associated with an identical LL address"
Currently, it is not possible in the neighbor table to have two IP addresses sharing the same LL address. This occurs however when you communicate with a node using it's link-local IP address and global address (NDP messages often use the link-local address and the application layer the global address)

I made quick workarounds to restore the support, see https://github.com/cetic/contiki-ng/tree/m

[2017-12-13 17:44] simonduq commented on #248
We shouldn't need the `#if` at all: `if (RPL_IS_DAO_ACK())` would be enough to (1) check that the feature is included in the binary and if so (2) check if it is run-time enabled.

When not including in the binary, the compiler should take care of removing the always-false branch of the if.

[2017-12-13 17:45] simonduq commented on #249
I believe this is very related to https://github.com/contiki-ng/contiki-ng/issues/128

[2017-12-13 19:52] laurentderu commented on #248
The #if RPL_WITH_DAO_ACK in the rpl_dag_t struct should also be removed then (otherwise the compiler with complain that dao_retransmission_timer does not exist, even if it is not used), and you end up with my first proposal with only a different name for the macro (And the size increase are still valid).

[2017-12-13 20:31] simonduq commented on #248
Ah ok, right, I think I'm convinced :)

[2017-12-13 21:03] joakimeriksson commented on #250
I am a bit interested to know a bit more on the specific use-case? We also would have cases when nodes could get IPv6 addresses that are link-local but not similar to the MAC address - e.g. not autoconf created address? (which I think is not all that easy today either?)

[2017-12-13 22:38] laurentderu commented on #250
This problem does not occurs on RPL network as the communication is always done using the global address, the link-local is only used for broadcasts and so is never registered in the neighbor table.

When using NDP however, the problem occurs usually quickly : two nodes first exchange with their link-local addresses, usually a RS followed by a RA, so in the neighbor table the MAC address is associ

[2017-12-13 22:41] joakimeriksson commented on #244
I have a working Contiki-NG based branch now - where at least some of link-layer security works fine. Will polish and make a PR in near time.

[2017-12-14 09:14] #208 closed

[2017-12-14 09:14] simonduq commented on #244
That was fast :)

[2017-12-14 09:23] simonduq commented on #250
@yatch do you want to bring back your old implem to life or let @laurentderu submit the new workaround instead?

[2017-12-14 09:48] yatch commented on #250
@laurentderu has a good memory! I forgot that work totally... What he refers to must be https://github.com/contiki-os/contiki/pull/2098.

OK, indeed, it is a workaround. https://github.com/contiki-ng/contiki-ng/compare/develop...cetic:multi-addresses-per-ll#diff-dc6d8865c21313ee1ca8b62c9a6d2619R154.

If you could wait, I'd update my work and bring it to contiki-ng. One nicer thing in my work is it

[2017-12-14 10:21] simonduq commented on #250
Sounds great @yatch , thanks! Tests are important yes :)

[2017-12-14 16:57] simonduq commented on #23
done https://github.com/contiki-ng/contiki-ng/pull/183

[2017-12-14 16:57] #23 closed

[2017-12-15 14:23] laurentderu opened #252 "Early application initialisation"
User application is only started when all the platform is initialized and the system configured, however for 6LBR the application must be initialized much earlier as to read the NVM or configuration file and set up the various system configuration parameters which are used in the platform and stack initialization.
Also, on native platform, the link-local address is derived from the MAC address of

[2017-12-15 15:33] g-oikonomou commented on #252
For MAC addresses, I've been playing around with an API that will populate `linkaddr_node_addr` from hardware values. In the 6lbr example this can then override platform default and retrieve over SLIP.

For the remainder of application-specific configuration, I like the idea of hooks called early in the startup sequence. Perhaps a configuration `#define` that allows the example to tell us what fun

[2017-12-15 18:51] simonduq opened #254 "List: list_insert bug"
The function `list_insert` in `list.c` is buggy: when `previtem` is null, it pushes the new element (which (1) removes any old instance and then (2) inserts the new element). But when `previtem` is non-null, it just adds the new item without removing any old instance. Could in duplicate elements in the latter case.

Only reporting as `bug/low` because the function is currently not used in the code

[2017-12-15 21:20] g-oikonomou commented on #254
I think we need a `list_remove(list, newitem)` at the start of the else block, at line 308

[2017-12-15 21:25] simonduq commented on #254
Yes I also think this should do

[2017-12-15 21:26] g-oikonomou commented on #254
I'm looking at this now. The function also assumes that the caller has somehow made sure that `previtem` is already in the list.

[2017-12-16 13:13] g-oikonomou commented on #254
For the record, things are actually worse than having the same element in the list twice: This bug will corrupt the list.

Imagine you have a list like this:

[code]

Now imagine you want to add the new element to the tail of the list using this function. If you call `list_insert(lst, tail, element_1);`, the function will alter `tail->next` and `element_1->next`, but will _not_ alter `head->next`.

[2017-12-17 01:48] g-oikonomou opened #259 "The build system for platform cooja is all over the place"
The build system is embarassingly broken for platform cooja.

I suspect it has to do with hacks used to build `cooja.jar` automatically depending on the make goal. Only the logic fails for many goals...

To reproduce, cd into the `examples/hello-world`

* `make distclean` spews out warnings
[code]

* `make` fails
[code]

* `make all` fails
[code]

* `make savetarget` spews out warnings, but works

[2017-12-17 19:51] simonduq commented on #87
done in https://github.com/contiki-ng/contiki-ng/pull/171

[2017-12-17 19:51] #87 closed

[2017-12-17 19:51] simonduq commented on #88
Done in https://github.com/contiki-ng/contiki-ng/pull/171

[2017-12-17 19:51] #88 closed

[2017-12-17 20:09] simonduq commented on #186
Hi, any news on this? Any luck fixing or reproducing the bug?

[2017-12-18 00:14] yatch commented on #83
@simonduq I got it 👍

[2017-12-18 13:01] yoyo890121 commented on #186
Hi, we modified `cc2538/clock.c` `update_ticks()` to bypass this clock backward issue.
This fixing is OK in our recent testing.
But we can not reproduce the bug, just bypass it.
Thank you!
[code]

[2017-12-18 13:05] simonduq commented on #186
OK! Just checking, is this not just a timer wrap? rtimer is unsigned and is expected to wrap. For rtimer clock comparison across wraps, use `RTIMER_CLOCK_LT`.
Was this actually the problem?

[2017-12-18 14:11] yoyo890121 commented on #186
Hi, we think the problem is Andy said before.
When software rtimer is faster than physical timer, the problem will occur in original code.
[code]

||hi|low|
|---|---|---|
|SW timer (64 bits)|100|999|
|HW timer (32 bits)|(100)|900|
`update_ticks() cur_rt_ticks_startup_hi++;`
|SW timer (64 bits)|102|100|
|HW timer (32 bits)|(101)|100|

So we add this line to prevent this situation.
`if((rtimer_clock

[2017-12-20 09:41] laurentderu opened #265 "Use safer PRI macros in logs"
(Follow up of the discussion in #241)

The format placeholders %u, %lu, %h, ... do not have the same meaning depending on the word size of the target platform. When used with fixed size variables, this causes compilation warning on platform which word size is not 32 bits.

For example :

    printf("%lu\n", (uint32_t)1);

will raise a warning on a 64-bits platform, as a long word is 64 bits and no

[2017-12-20 12:41] laurentderu commented on #247
A bit trickier but it's working eventually.

[2017-12-20 12:41] #247 closed

[2017-12-20 13:34] laurentderu opened #267 "platform_init_stage_three() on native platform"
The phase three of the native platform initialization is at odd with the other platform and the rest of the system.
In this function, the code assign a hardcoded address using the prefconfigured prefix and, worse, configure a default router address based on the assumption that the router is always <prefix>::1.

This is a lot of assumption and wrong in the case of the default router (With NDP, the

[2017-12-21 11:01] laurentderu opened #269 "Retrieve DAD result status"
When using NDP, before using an address a host must ensure that another host is not using the same address. To verify that, it performs a DAD sequence (Duplicate Address Detection) by sending a special NS and waiting for a potential NA.
Currently, if the DAD is successful, the state of the address changes from Tentative to Preferred, however if the DAD fails, the address is simply deleted. This pr

[2017-12-22 18:01] #254 closed

[2017-12-30 15:55] iamxg opened #273 "CoAP example will not build for Sky"
![image](https://user-images.githubusercontent.com/30093996/34455590-96d899ce-ed47-11e7-8d86-02634801e48c.png)

[2017-12-30 15:59] iamxg commented on #273
Hi,
I can't resolved this issue in contiki-os 3.0. I find that there still exist this issue in this version. Who can help me!
Happy new year to everyone!
Xian Guo

[2017-12-31 12:44] simonduq commented on #273
Thanks for reporting; we should aim for this example to compile even on Sky. Meanwhile, I encourage you to take a look at this: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-RAM-and-ROM-usage

[2018-01-05 15:26] laurentderu opened #274 "Openmote target does not work"
Trying several examples from the master and the develop branches for the open mote platform,, I discovered that none of them work for me. The Openmote does not startup at all, it stays in the boot loader mode after flashing the new firmware.

Long story short, it seems that the .vectors section is not located at 0x0000000000200000 as expected but at 0x0000000000202000. The shift is caused by COFFE

[2018-01-05 16:25] g-oikonomou commented on #274
Zoul works, so this is either a platform thing or a toolchain/local installation thing.

[2018-01-05 20:04] g-oikonomou commented on #274
Hi Laurent, I just checked again with zoul/firefly and confirmed to work with COFFEE enabled. What are you using to program your openmotes? When using our `.upload` target, the build system invokes cc2538-bsl passing the correct `-a` argument (e.g. `-a 0x00202000`).

[2018-01-05 20:43] laurentderu commented on #274
Indeed, the problem was between the chair and the keyboard ! I used the upload target on Contiki, but when I switched to NG, I reused a plain cc2538-bsl.py command, without of course the -a... :(

[2018-01-05 20:43] #274 closed

[2018-01-12 13:23] joakimeriksson commented on #265
Yes, we have decided to use the PRI macros for specified size integers. Will add it to the code-style soon.

[2018-01-12 13:30] g-oikonomou opened #276 "Tidy-up the CoAP example"
A couple of things to do here:

* [x] Remove discussion about the copper addon, which is no longer available
* [x] There is a patch file for wpacap / minimal-net. This needs removed
* [x] Do something about #273

Perhaps more.

[2018-01-12 13:31] g-oikonomou commented on #273
Yep, this is a bug. We can either document that it won't work, or do something to make it work.

I'm editing the title.

[2018-01-12 19:15] iamxg commented on #273
Ok, thank you for replying.

Best Regards,

Xian G

-----Original Message-----
From: George Oikonomou <notifications@github.com>
To: contiki-ng/contiki-ng <contiki-ng@noreply.github.com>
Cc: Xian Guo <iamxguo@aol.com>; Author <author@noreply.github.com>
Sent: Fri, Jan 12, 2018 7:31 am
Subject: Re: [contiki-ng/contiki-ng] MSP430 issue (#273)

Yep, this is a bug. We can either document that it won't

[2018-01-16 09:04] simonduq commented on #269
Both options sound good to me.. whatever fits best the needs of 6LBR :)

[2018-01-16 09:07] simonduq commented on #250
@yatch can we reasonably mark this as due for next release? (April)

[2018-01-16 09:08] yatch commented on #250
@simonduq Yes, we can. Please do that 😄

[2018-01-16 09:10] simonduq commented on #249
As a side note, I believe TSCH actually handles root reboot much more smoothly: nodes lose MAC-level association, notify RPL and leave the DAG, and whenever associating again will promptly re-send DIS and re-join the RPL DAG.

With CSMA, nodes have no such implicit way to find out that there was a reboot.

[2018-01-16 09:13] simonduq opened #279 "Doxgyen online auto-upload"
Basically needs to be pushed at
https://github.com/contiki-ng/contiki-ng.github.io/tree/master/ngdoc

whenever a change is merged on `develop`. We could do it in Travis, using secret environment variables for the Github credentials https://docs.travis-ci.com/user/environment-variables/

[2018-01-16 09:14] simonduq commented on #279
@nvt I believe you looked into this at some point, any more insights you want to share?

[2018-01-17 12:00] nvt commented on #279
Yes, using Travis might be better than doing something with webhooks. I was looking at the following GitHub Gist notes, which seem to include a complete setup: https://gist.github.com/vidavidorra/548ffbcdae99d752da02#file-auto-deploy_documentation-md

[2018-01-20 00:14] LucaZulberti opened #280 "The Docker container does not seem to work"
Hi all, I have followed the wiki to starting up Contiki-NG with docker: [Docker](https://github.com/contiki-ng/contiki-ng/wiki/Docker).

I have pulled down the contiki-ng repository and changed the path in the `contiker` alias to the correct one:
`
alias contiker="docker run --privileged -v $CNG_PATH:/home/luca/remote-git/contiki-ng -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix -v /dev/bus/

[2018-01-20 12:36] LucaZulberti commented on #280
I have resolved with this syntax for the `contiker` alias:
`docker run --privileged --mount type=bind,source=/home/luca/remote-git/contiki-ng,destination=/home/user/contiki-ng -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix -v /dev/bus/usb:/dev/bus/usb -ti simonduq/contiki-ng`

As the docker-ce documentation states, the use of `--mount` is preferred even if it is more verbose for mounting vol

[2018-01-22 08:28] simonduq commented on #280
Hi,

Thanks for reporting. What is your host OS? This volume/bind thing needs more investigation. From what I gathered, binds are being deprecated, and volumes should be preferred in the future. I do not know what is the best option for USB devices: the `-v` mount was probably only tested with a Linux host. Please keep us updated if you find out more!

Simon

[2018-01-22 08:52] LucaZulberti commented on #280
My host OS is Ubuntu 18.04 Bionic (development).
I will learn more about docker and I will keep you updated. ;-)

Luca.

[2018-01-22 14:32] LucaZulberti commented on #280
Ok, the `-v` option works, I have made a mistake..
Volumes are preferred because they are portable and can be managed in several ways, but they are internal to docker. With source code the best option is bind mount because you can keep you source where you want and make it accessible from the host.
Volumes are accessible under `/var/lib/docker/volumes`, but I think it isn't the correct way to use

[2018-01-22 14:55] simonduq commented on #280
Ah great. So, if I got this right, our wiki page does not require any update, or?
If you want to propose enhancements, please take a look at https://github.com/contiki-ng/wiki-sandbox
Thanks!

[2018-01-22 18:40] LucaZulberti commented on #280
Yes it does not require any update.
Thank you, I will remember it!

[2018-01-23 08:43] #280 closed

[2018-01-26 12:54] joakimeriksson commented on #3
Done in #270

[2018-01-26 12:54] #3 closed

[2018-01-26 12:57] joakimeriksson commented on #19
Is anyone working with this right now? We need to get this started in a month so that it is done by the milestone deadline.

[2018-01-26 13:41] atiselsts commented on #19
I'm wondering that as well, and whether I should continue to wait for this so I can submit my TSCH stats code complete with regression tests (Issue #105)
@g-oikonomou?

[2018-01-26 16:07] mbaddeley commented on #19
I actually have this done - it works, but it's not in a mergeable state at the moment. As well as needing to be rebased to develop to get in the latest changes it also needs to be more in-line with the other platform types. Currently a lot of the code is copied straight from Contiki, without having put everything into a platform.c file.

https://github.com/mbaddeley/contiki-ng/tree/contrib/re-add-

[2018-01-29 13:13] Gunzter opened #285 "Contributing OSCORE (OSCOAP) to Contiki-NG/Erbium"
Hi all!

SICS Security Lab has a direct asignment from Ericsson to implement [OSCORE](https://github.com/core-wg/oscoap) for several Open Source projects. OSCORE is currently in Working Group Last Call, I have a implementation of the previous OSCORE version based of the "old" Contiki-OS.

On of those proposed projects is Contiki-NG, I think both OSCORE and Contiki-NG can benefit from each other. I

[2018-01-29 13:21] simonduq commented on #285
Hi Martin,

Yes, this is absolutely wanted! Please note that we have an ongoing rework of CoAP+DTLS in https://github.com/contiki-ng/contiki-ng/pull/167 which should be merged soonish. I would advice basing your port to this PR directly.

Don't hesitate if you need to help. We also have Gitter for more interactive chat https://gitter.im/contiki-ng

Best,
Simon

[2018-01-30 21:39] joakimeriksson opened #287 "TCP Window / MSS too large"
The TCP window and MSS is not configured for the default IP-RPL environment where we typically have extension headers that make the TCP payload smaller. Not sure what size we should have, but the current is too large:

#define UIP_TCP_MSS     (UIP_BUFSIZE - UIP_LLH_LEN - UIP_TCPIP_HLEN)

[2018-02-02 12:45] simonduq commented on #42
Done via https://github.com/contiki-ng/contiki-ng/pull/167

[2018-02-02 12:45] #42 closed

[2018-02-02 12:46] simonduq commented on #16
done via https://github.com/contiki-ng/contiki-ng/pull/167

[2018-02-02 12:46] #16 closed

[2018-02-02 12:52] g-oikonomou commented on #140
Would have to be a new page now, similar to https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation-on-Linux

[2018-02-02 12:54] simonduq commented on #144
Moving this as a long-term milestone

[2018-02-02 13:19] g-oikonomou commented on #273
The example now documents that it is not expected to work on sky. I'm closing this.

[2018-02-02 13:19] #273 closed

[2018-02-08 10:37] joakimeriksson opened #291 "CoAP duplicate detection missing"
Currently CoAP lack duplicate detections which means that applications can get the same CoAP message multiple times.

[2018-02-14 13:10] yatch opened #292 "Documentation on Unit-Testing"
There is no documentation on unit-testing.

It'd be nice to have explanation or introduction about how unit-tests found under `tests` directory work. In addition, example code for unit-testing under `examples` directory would be great.

[2018-02-14 16:59] simonduq commented on #157
Postponing to 4.2.

[2018-02-14 17:10] simonduq commented on #24
Done via https://github.com/contiki-ng/contiki-ng/pull/224

[2018-02-14 17:10] #24 closed

[2018-02-16 14:56] g-oikonomou opened #293 "Incorrect frame length check in CC26xx IEEE mode"
In [ieee-mode.c#L1082](https://github.com/contiki-ng/contiki-ng/blob/develop/arch/cpu/cc26xx-cc13xx/rf-core/ieee-mode.c#L1082), we make this check:

[code]

This is meant to exclude frames smaller than 5 bytes (the size of a h/w ACK).

* Firstly, the test should be `< 5`, not `< 4`.
* Secondly, and more importantly, `rx_read_entry[8]` contains the number of bytes received in the air + a configurab

[2018-02-16 15:41] #293 closed

[2018-02-16 15:46] g-oikonomou opened #296 "Add support for MPL (RFC7731)"
We currently lack support for MPL ([RFC7731](https://tools.ietf.org/html/rfc7731)).

As I have discussed in the past, our current trickle-multicast engine is based on version 3 of the respective I.D., but there have been significant changes since then.

I'm adding this to our long-term roadmap.

[2018-02-17 00:14] #187 closed

[2018-02-18 14:12] simonduq commented on #279
Let's assign this one. @nvt would you be willing/able to do this by next release?

[2018-02-18 16:20] g-oikonomou commented on #140
https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation-on-OS-X

@nfi @joakimeriksson feel free to add/edit, but the current version is sufficient for this issue to be closed.

[2018-02-18 16:20] #140 closed

[2018-02-18 21:49] g-oikonomou opened #298 "Why not add `os/net/mac/framer` to top-level Makefile.include MODULES?"
In the top-level `Makefile.include` we do

[code]

But then most platform Makefiles also do:
[code]

* Firstly, we need to remove some of that from platform Makefiles, cause it's redundant.
* Secondly, any particular reason why we are not including `os/net/mac/framer` from `Makefile.include`?

I think everything that can always compile successfully (irrespective of platform & other modules)  shoul

[2018-02-18 23:26] g-oikonomou commented on #159
https://github.com/contiki-ng/contiki-ng/wiki/Porting-Contiki-NG-to-new-platforms and closing this issue as complete.

[2018-02-18 23:26] #159 closed

[2018-02-19 01:22] g-oikonomou commented on #285
@Gunzter after hearing about OSCORE at EWSN last week, I too am very positive about having it here.

[2018-02-19 01:30] g-oikonomou opened #299 "Update top-level README"
The top-level README should introduce the project in a self-contained fashion, such that a reader can understand it without requiring prior knowledge of what Contiki is.

I consider this pretty important and I am therefore penciling it for [v4.1](https://github.com/contiki-ng/contiki-ng/milestone/2).

[2018-02-19 09:51] mbaddeley commented on #19
I've re-based and it still compiles, but I get a cooja java.lang.ArrayIndexOutOfBounds error when I run now. Don't have time to look at this at the moment but if anyone else wants to pick it up I have it on github [here](https://github.com/mbaddeley/contiki-ng/tree/contrib/re-add-exp5438)

[2018-02-19 10:29] simonduq commented on #298
Sounds good to me!

[2018-02-20 14:22] juliencombattelli opened #302 "CPU_START_SOURCEFILES variable does not work with *.s assembly files"
If the CPU_START_SOURCEFILES variable is used to store an assembly file with ".s" extension instead of ".S", the build system does not build any file (except the project source file, hello-world.c in my case).

[2018-02-21 15:11] mbaddeley commented on #19
Ok, so looking back at previous commits, the last commit that my exp5438 code was working for was 58f9d2bc0adc018b8db3cd227fd158f67b53b78e

If you check out that, and cherry pick commit a6608f57b0c96614a19961812df42f4e5930554e from my contrib branch everything compiles and runs ok in cooja.

[2018-02-23 09:58] yoyo890121 opened #305 "Cooja printout incompletely"
Hi, I tried to used `tsch_schedule_print();` to print Orchestra scheduling table, but it printed incompletely in Cooja.
It works well on cc2538dk, I think it is a Cooja bug.
![](https://i.imgur.com/q5wb9BN.png)

It can reproduce in [simple-node example](https://github.com/yoyo890121/contiki-ng/tree/cooja-printout-issue/examples/6tisch/simple-node) and [this setup (BR and a CoAP node)](https://gith

[2018-02-23 14:00] simonduq commented on #305
OK, I looked into this, I believe this is indeed on the cooja or cooja mote side, looks like printouts are buffered up to a certain point and then dropped. @nfi any clue where this can be configured?

BTW, https://github.com/contiki-ng/contiki-ng/pull/307 improves a number of things related to this PR.

[2018-02-23 14:01] yatch commented on #305
I guess it's because of buffer size limitation... I'll take a look this evening.

[2018-02-23 14:36] nfi commented on #305
Cooja by default has 1 kB buffer to store logs between ticks. If a Contiki node tries to print more than this before it yields back Cooja, the logged data will be truncated.

You could try to increase `MAX_LOG_LENGTH` in `arch/platform/cooja/sys/cooja-log.c` and see if this helps.

[2018-02-24 00:16] yatch commented on #305
@yoyo890121 Thank you for providing the branch to reproduce the issue. I got the same result as reported with `rpl-tsch-cooja.csc` under `examples/6tisch/simple-node/` on your branch.

As @nfi suggested, `MAX_LOG_LENGTH` is the key. I added the following line into `project-conf.h`  of `examples/6tisch/simple-node/` and got the mote output shown below:
[code]
![mote-output](https://user-images.gith

[2018-02-24 18:25] zsrkmyn opened #312 "rpl-lite preforms worse than contiki 3.x"
We use `examples/rpl-udp/udp-{server,cilent}.c` to test RPL on cooja mote.

In simulation, we add 100 clients and 1 server. The `csc` file can be found at https://pastebin.com/93WcJT2u

We use rpl-lite as the routing protocol, and set `RPL_NS_CONF_LINK_NUM` to 120 in `project-conf.h`.

When setting `RPL_CONF_PROBING_SEND_FUNC` to `rpl_icmp6_dio_output`, after 1 hours in simulation time, only sever

[2018-02-24 18:54] yoyo890121 commented on #305
OK, it works well.
Thank you!

[2018-02-24 18:56] #305 closed

[2018-02-24 23:25] simonduq commented on #312
Thanks for reporting. This is a challenging simulation environment, large and very sparse.

The problem seems to be with CSMA in Cooja Motes. In Cooja motes, transmission timing is coarse-grained, with only 1ms precision. The current CSMA timings result in re-transmissions with very low backoff exponent. Combine the two above and you get cascaded collisions of nodes colliding and re-trying every 1

[2018-02-24 23:29] simonduq opened #314 "LOG_*_ENABLED broken"
The flags LOG_ERR_ENABLED etc. are broken, since runtime log levels were introduced. They basically always compile to 0.

[2018-02-24 23:33] simonduq commented on #312
New defaults proposed in https://github.com/contiki-ng/contiki-ng/pull/315

[2018-02-25 09:22] zsrkmyn commented on #312
The PR improves the performance, but the network is still not as good as the 3.x version.

We set `LOG_CONF_WITH_ANNOTATE` to `1` in `project-conf.h`, and change the `uip-ds6-route.c` as follow and enable `Mote relations` in cooja to show default routes of nodes in cooja.

[code]

We test the rpl-lite on both cooja and sky motes (tesing on sky mote can be very slow :-( ) , it seems the default rou

[2018-02-25 09:54] simonduq commented on #312
Ok it's most likely that the defaults in RPL lite don't do great in your
network. First thing that would come to my mind is try disabling the ETX
squaring (link-stats module). It helps build reliable routes but in also
makes the DAG more jittery.

BTW have you tried rpl-classic (in non-storing mode), for the sake of
finding out if the issue came with rpl-lite or contiki-ng?

On 25 Feb 2018 10:23,

[2018-02-25 13:12] dongdongbh commented on #312
I have tested three cases on my network distribution as following:

1. contiki 3.x with non storing mode
2. contiki-ng with `rpl-classic` and non storing mode
3. contiki-n with 'rpl-lite', and the CSMA setting following your suggestion.

The performance is 1>2>3, In first condition, the network set up is fast and also more reliable than the other two setting. All nodes in the network can reach the

[2018-02-25 13:36] simonduq commented on #312
You must be doing something wrong. On a clean repo I get a fully connected network at after 2m30s. There are very few if any parent switch after that. I see no traffic loss at all: all application traffic is received successfully, up, and then back down (I get one hundred "Received response 1", one hundred "Received response 2" etc.).

I thought you were reporting on sub-optimal performance, not s

[2018-02-25 13:43] simonduq commented on #312
Some documentation:
* Running Contiki-NG in Cooja: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-Running-Contiki%E2%80%90NG-in-Cooja
* The Contiki-NG Docker image: https://github.com/contiki-ng/contiki-ng/wiki/Docker

[2018-02-25 16:56] zsrkmyn commented on #312
Oh, I'm sorry. We first worked on commit 9777ac4 but found the network is not as stable as an older commit, so we checked out to the older commit and continued working on it, and we all forgot that our working directory was not updated with upstream.

After swiching to the latest commit and apply the csma-defaults patch, all problem disappear.

I'm really appreciate your help! :-)

[2018-02-25 16:56] #312 closed

[2018-02-25 17:19] simonduq commented on #312
Ah that is very good to hear :) Thanks a gain for reporting, got the CSMA issue noticed!

[2018-02-25 18:46] #314 closed

[2018-02-26 08:10] #299 closed

[2018-02-26 09:04] #298 closed

[2018-02-26 09:53] simonduq commented on #265
closed by https://github.com/contiki-ng/contiki-ng/pull/297

[2018-02-26 12:48] simonduq commented on #302
I have no strong opinion whether we should support .s, .S or both. Do you have thoughts about this? If you have a fix for `makefile.include` feel free to suggest as a PR.

[2018-02-26 13:54] juliencombattelli commented on #302
.S files are already supported by contiki build system. You can see it lines 57, 215, and 267 of the ```makefile.include```. I think it's interesting to keep the support of assembly files, especially if it is planned to add cpu/platforms based on ARM Cortex-M, since their startup files are often written in assembly.

[2018-02-26 14:03] simonduq commented on #302
Yes we definitely want to keep support for assembly files, the question was more on the file ext we want to support.

[2018-02-26 14:13] juliencombattelli commented on #302
Changing all .S assembler files is a workable solution. However, it would be more convenient for developers who are porting contiki on new platforms to simply copy and paste this type of files into the source-tree without having to make any changes.

[2018-02-26 14:32] nvt commented on #279
@simonduq Sorry for the late reply! I had another look at the document, and I'm doubting that the access rights for maintainers are sufficient to perform all the different operations involved. It might be work smoother if a repository owner would do it.

[2018-02-26 15:53] simonduq commented on #279
Well I think push rights to https://github.com/contiki-ng/contiki-ng.github.io is all you should need isn't it?

[2018-02-26 16:09] simonduq commented on #302
Is that what you would have in mind? https://github.com/simonduq/contiki-ng/commit/038cc099f1987195191138126ae78bce70bf0c8d

[2018-02-26 16:14] juliencombattelli commented on #302
Yes exactly, but the line with the oname variable does not seem very scalable.

[2018-02-26 16:27] simonduq commented on #302
OK, proposed a slightly improved version at https://github.com/contiki-ng/contiki-ng/pull/321

[2018-02-26 18:57] zsrkmyn opened #322 "Maybe a bug in cc26xx-cc13xx radio driver"
Hi, we are using commit abd18639b to test our work, but find it's hard for sensors to form a network using RPL-lite.

We dig into the logs and codes, and find something goes wrong [here](https://github.com/contiki-ng/contiki-ng/blob/develop/os/net/mac/csma/csma-output.c#L229). It's seems that `NETSTACK_RADIO.pending_packet()` always returns a number bigger than 0, but the length returned by `NETST

[2018-02-26 19:17] atiselsts commented on #322
I agree, it's a bug: it cannot receive packets shorter than 5 bytes. `CSMA_ACK_LEN` is 3 bytes.

[2018-02-26 21:35] g-oikonomou commented on #322
is this in IEEE mode or is it in Prop mode? Did I break things with #294 while trying to fix #293 ?

[2018-02-26 21:46] atiselsts commented on #322
Oh, I see: `rxConfig.bIncludeCrc` is set to 1, so two byte FCS is also included in the frame and that makes 3+2=5 bytes.

(Do the upper layer expect to get length with the FCS? For example the cc2420 driver does not return it.)

[2018-02-26 21:48] g-oikonomou commented on #322
Perhaps after #294 we are returning the wrong length? The return value should be pure data payload.

(Which is always why we also need to address #197 ...)

[2018-02-26 21:51] atiselsts commented on #322
Now I think that `len` is the length without th FCS, so it should be `len < 3` after all.
Look at how `rssi` is extracted from the frame at `len + 2`.

[2018-02-26 22:08] yatch commented on #322
@atiselsts

Does figure 23-6 of [swcu117h](http://www.ti.com/lit/ug/swcu117h/swcu117h.pdf) help...?

[2018-02-27 08:34] #302 closed

[2018-02-27 11:32] atiselsts commented on #322
I've given this some thought. Changing to `len < 3` is a no brainer, but...
1) Not sure if the radio driver should enforce this check. While currently the IEEE standards say that CSMA ACK size is 3 bytes, who guarantees that in the future there's no protocol that uses shorter packets? Sending and receiving 2 byte packets works fine on CC2650 - just tested.
2) If the check _should_ be enforced, it

[2018-02-27 15:46] g-oikonomou commented on #322
Yep, it should be 3, not 5. I am flagging this as a bug.

I am happy for the radio driver to skip this check.

The CC2420 driver checks the RX buffer length against <= footer length (which makes sense). This check was somehow carried over to CC2430, CC2530, CC2538, CC2650, only an error in the logic was introduced at some point in the process... For example, the CC2538 driver will check if the buf

[2018-02-27 21:03] #265 closed

[2018-02-28 10:49] yatch opened #328 ""Segmentation Fault" in contiki-ng docker container over Docker for Mac"
# Summary

You may get "Segmentation Fault" in a container created over [simonduq/contiki-ng](https://github.com/contiki-ng/contiki-ng/wiki/Docker) image when you're using [Docker for Mac](https://www.docker.com/docker-mac).

[code]

Segmentation Fault also is raised by other commands such as `java` or `apt`:
[code]

# Workaround

Try it with an image created locally with `tools/docker/Dockerfile`

[2018-02-28 10:51] yatch commented on #328
This might be my local issue... Please let me know if you need any further information I can collect on my machine...

[2018-03-01 01:46] fzy-Line opened #331 "Will contiki-ng support Content Centric Network(CCN)?"
As we know, CCN is a promising network architecture and contiki is a excellent open source OS. A few years ago, there was a tutorial about CCNx for Contiki, but CCNx is no longer appropriate. Now, CCN-Lite may be a good choice. I have read a conference paper which is a poster for porting ccn-lite to contiki( http://conferences2.sigcomm.org/acm-icn/2016/proceedings/p221-ahlgren.pdf ), but it isn't

[2018-03-01 08:10] simonduq commented on #331
We do not have a current plan for this in the roadmap (https://github.com/contiki-ng/contiki-ng/issues?q=is%3Aopen+is%3Aissue+label%3Aroadmap). If somebody has code to contribute we may consider adding the feature.

[2018-03-02 01:13] fzy-Line commented on #331
@simonduq Thanks! I will continue to focus on your work and I also expect someone can contribute some codes.

[2018-03-02 09:03] #331 closed

[2018-03-02 12:49] Gunzter opened #334 "Memory corruption in coap-example-client"
The coap_endpoint_t server_ep struct gets overwitten after it is populated by coap_parse_endpoint(). I did not spend time looking for where it gets overwritten, but moving "coap_endpoint_t server_ep struct" from line coap-example-client.c:84 to outside the PROCESS_THREAD declaration solves the issue.

If you run the coap-example-client with "#define LOG_CONF_LEVEL_COAP LOG_LEVEL_DBG" you can see t

[2018-03-02 13:41] simonduq commented on #334
Thanks for reporting, we will investigate

[2018-03-02 22:12] #322 closed

[2018-03-02 22:18] g-oikonomou opened #337 "Implement the GPIO HAL for remaining CPUs"
* [ ] nrf52x
* [ ] msp430
* [ ] jn516x

[2018-03-02 22:19] g-oikonomou opened #338 "Implement LED HAL for remaining platforms"
Requires #337

* [ ] nrf52dk
* [ ] sky
* [ ] jn516x

[2018-03-03 08:44] simonduq commented on #328
Would be interesting to hear if any other OSX user could use the dockerhub image directly or also had to rebuild. Almost sounds like a Docker for Mac bug.

[2018-03-03 21:54] yatch commented on #328
`Reset to factory defaults` of "Docker for Mac" resolves this issue!

You can find this command in "Preferences" -> "Reset".

[2018-03-03 21:54] #328 closed

[2018-03-05 09:56] Gunzter commented on #334
Making the variable static also solves the issue.

[2018-03-05 14:48] g-oikonomou commented on #334
@Gunzter thanks for reporting this. Feel free to open a pull for this one. The variable can stay where it is (preferable) or it be file-scope, but it needs to be static.

[2018-03-05 15:39] joakimeriksson commented on #334
I did a quick PR according to the discussions here (static is for sure 100% needed in processes). see #340 .

[2018-03-05 16:11] #334 closed

[2018-03-08 12:41] IvanIvan12 commented on #274
I am now getting the error:
Target returned: 0x43, Invalid address
when compiling the hello-world like this:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=A1 MOTES=/dev/ttyUSB0 hello-world.upload

[2018-03-08 12:44] IvanIvan12 opened #341 "OpenMote target does not work"
I am getting the error:
Target returned: 0x43, Invalid address
when compiling the hello-world like this:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=A1 MOTES=/dev/ttyUSB0 hello-world.upload

The output is:
  CC        ../../arch/cpu/cc2538/./ieee-addr.c
  CC        ../../arch/cpu/cc2538/cc2538.lds
  CC        ../../arch/cpu/cc2538/./startup-gcc.c
  CC        hello-world.c
  LD        hello-wor

[2018-03-09 14:56] atiselsts commented on #338
Submitted #342 to avoid failing tests while it's not implemented yet.

[2018-03-10 14:28] andreyferriyan opened #343 "Update docker image documentation"
https://github.com/contiki-ng/wiki-sandbox/wiki/Documentation:-docker-image

[2018-03-12 00:54] g-oikonomou commented on #341
Can you try without `BOARD_REVISION` and also by replacing `MOTES` with `PORT`. Your console output seems sane so I cannot immediately think of what might be going wrong.

[2018-03-12 08:44] g-oikonomou commented on #341
The start address of the CC2538 flash is 0x00200000. We start at 0x00202000 because we reserve some pages for CFS. I noticed the erase size too and it made me wonder.

I'll need to dig out my OpenMotes to help any further. Can you try without CFS support?

[2018-03-12 09:03] IvanIvan12 commented on #341
Ok it seems the error was:
BOARD_REVISION=A1

whereas the correct is:
BOARD_REVISION=REV_A1

now the compilation and writing passed without a error:
Erasing 262144 bytes starting at address 0x00200000
    Erase done
Writing 253952 bytes starting at address 0x00202000
Write 248 bytes at 0x0023FF080
    Write done
Verifying by comparing CRC32 calculations.
    Verified (match: 0xfa2dd9ec)

[2018-03-12 09:07] IvanIvan12 commented on #341
Sorry for bothering you, I should have seen that earlier.
And thanks a lot for help.

[2018-03-12 10:06] #341 closed

[2018-03-12 12:46] simonduq commented on #343
Thanks, added to main wiki!

[2018-03-12 12:46] #343 closed

[2018-03-13 11:10] IvanIvan12 opened #346 "How to run the coap example on real devices?"
I cannot figure out how to run the coap example on real devices and get the data from real devices in Copper. Is it described somewhere how to do that? The README file contains only description for TARGET=native. I have OpenMotes.

[2018-03-14 05:59] chenek commented on #346
For example, you can use "make TARGET=srf06-cc26xx BOARD=launchpad/cc1310 coap-example-observe-client.bin" to build coap-example-observe-client example running on TI LAUNCHXL-CC1310.

[2018-03-14 07:54] fzy-Line opened #349 "Why rpl-dag-neighbor module is initialized twice?"
I read the source code of rpl-lite which is a lightweight implementation of RPL. In rpl_init function, rpl_neighbor_init function is  called once.

[code]

However, in rpl_dag_init function, the rpl_neighbor_init function is called again.

[code]

May be it's not necessary, or may be it's right but why? Someone can help me?

[2018-03-14 08:10] simonduq commented on #349
Good catch, this should be called only once. I would only keep the one in `rpl_init`

[2018-03-14 08:25] simonduq opened #350 "CoAP, DTLS, LWM2M documentation"
Most of it already exists in the sandbox wiki. We need to update main wiki for the next release.

[2018-03-14 08:26] simonduq commented on #346
We need to update the doc: https://github.com/contiki-ng/contiki-ng/issues/350

[2018-03-14 08:26] #346 closed

[2018-03-14 08:28] simonduq commented on #41
Hey, so we can close this one now, right?

[2018-03-14 08:29] simonduq commented on #163
This was put on hold for a number of reasons. Pushing to next release.

[2018-03-14 08:40] joakimeriksson commented on #350
Separat short tutorial on CoAP is probably totally lacking at the moment so that is very much needed. The LWM2M documentation is also on the wiki but needs linking (will fix that on Friday the latest). Then I also have a more or less complete "how-to" tutorial for EFR32 with lots of LWM2M and MQTT. Will try to adapt that to the wiki (and I am still hoping to put up the EFR32 port to Contiki-NG soo

[2018-03-14 08:44] simonduq commented on #350
Ah I missed it was there but just not linked :)

[2018-03-14 09:18] IvanIvan12 commented on #346
@chenek I tried that and it just gives me a lot of errors. But that is a client that it seems by default connects to Cooja, not to the real hardware.

[2018-03-14 11:12] atiselsts commented on #41
What about keeping this open and periodically merging / encouraging to resubmit good stuff from currently open Contiki PRs?

[2018-03-14 11:17] simonduq commented on #41
OK then shall we remove the milestone and have it long-term/running?

[2018-03-14 11:57] IvanIvan12 opened #351 "RPL border router - no router address in the output"
According to the "Tutorial: RPL boarder router" I should get the address of the router but the output I get stops before that:
$ sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB0 connect-router
sudo ../../tools/tunslip6 fd00::1/64
********SLIP started on ``/dev/ttyUSB0''
opened tun device ``/dev/tun0''
ifconfig tun0 inet `hostname` mtu 1500 up
ifconfig tun0 add fd00::1/64
if

[2018-03-15 16:26] g-oikonomou opened #352 "Build everything script"
I started fiddling the other day, but I thought I'd open an issue or this may fall through the cracks.

Basically to handle boards the script does this:

[code]

This means each time we add/remove a board or platform with boards, we have to touch this file. It will unavoidably start getting stale as time passes.

A better way would be to automatically detect the list of boards as we go along. The

[2018-03-15 17:04] simonduq commented on #352
Yeah that sounds good!

[2018-03-15 19:24] algoragit opened #353 "Mote type creation error"
While trying to run cooja simulations, I get the following error:
[code]

[2018-03-17 07:17] simonduq commented on #349
Let me keep it open until we fix it

[2018-03-17 15:51] firmwareguru opened #354 "cc13xx platform loads bad MAC address"
The cc13xx platform (specifically observed on launchxl-cc1310 with current develop branch) starts up with a bad MAC address : ff:ff:ff:ff:ff:ff

The problem here is platform.c choosing to load a BLE MAC address because of
#if MAKE_MAC == MAKE_MAC_BLE
and MAKE_MAC_BLE symbol is not available.

As a quick fix, replacing with this works:
#ifdef MAC_CONF_WITH_BLE

In all cases where the BLE MAC is not

[2018-03-18 00:10] g-oikonomou commented on #354
Thanks for the report, will look into asap

[2018-03-18 13:12] g-oikonomou commented on #354
Confirmed. This is pretty bad.

Fix in #356, @firmwareguru could you confirm please?

[2018-03-18 20:39] g-oikonomou commented on #351
If your device has a reset button, try resetting it with tunslip running.

[2018-03-19 08:58] IvanIvan12 commented on #351
It has reset and user buttons. I tried pressing reset and than even user but unfortunately nothing happens.
I tried pressing the reset button for the hello-world, just to see if it works, and there it seems to restart the program without any problem.

Please say you have some other idea I could try. :)

[2018-03-19 09:06] g-oikonomou commented on #351
Try increasing tunslip verbosity level

[2018-03-19 09:54] IvanIvan12 commented on #351
Thanks, I increased it to 5. Now I realize that I probably have to upload rpl-boarder-router to the node that I want to be router before starting tunslip? I thought hello-world is enough. It is slightly confusing the tutorial.

Is this the way to do that?
sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB0 MOTES=/dev/ttyUSB0 rpl-border-router.upload

[2018-03-19 10:05] simonduq commented on #351
Please don't hesitate to suggest a fix to the tutorial for whatever was not clear

[2018-03-19 10:06] IvanIvan12 commented on #351
Thanks, I will as soon as I figure out what was not clear. :)

[2018-03-19 10:11] IvanIvan12 commented on #351
Just please Simon do not close this question jet. You are fast on the trigger. :)

[2018-03-19 10:45] simonduq commented on #351
Sure. Note that if an issue gets closed too early, you have the option to re-open :)

[2018-03-19 10:57] IvanIvan12 commented on #351
So it is like that, first compile and upload the boarder router something like this:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB0 MOTES=/dev/ttyUSB0 border-router.upload

and then run tunslip like it is explained in the tutorial.

Now I get the address but I can not ping it. After:
ping6 fd00::212:4b00:430:5415
I get:
connect: Network is unreachable

but that problem is

[2018-03-19 14:59] atiselsts commented on #19
Are we still on track for including this in 4.1?

[2018-03-19 17:17] firmwareguru commented on #354
@g-oikonomou  Yes this works, thanks.

[2018-03-19 18:43] #354 closed

[2018-03-19 21:49] #349 closed

[2018-03-20 09:18] IvanIvan12 commented on #351
I still can not ping the router. I run the tunslip within the docker. Is that ok? I guess all the prompts in the tutorial are the prompts of the docker?

I do not understand from where should I ping than the router. I just opened another terminal and ping it but I get the error:
connect: Network is unreachable

What do I need to do?

[2018-03-20 10:03] IvanIvan12 commented on #351
The problem was that I was running tunslip within the docker. Now I can ping the router.
I will definitely have some suggestions for the changes in the documentation.

[2018-03-20 10:38] simonduq commented on #351
Great. The tutorials were written pre-4.0, that is, without Docker.
Running tunslip6 from inside Docker should also be possible though. Make sure you have the latest Docker (we recently added auto-enabling of IPv6) and Contiker alias. Issue the ping from within the same container that runs tunslip6.

For documentation updates, please either:
* suggest simple fixes as a github issue
* or draft a wi

[2018-03-20 10:40] IvanIvan12 commented on #351
Thanks, you can close this one now. :)

[2018-03-20 10:42] simonduq commented on #351
Thanks for reporting!

[2018-03-20 10:42] #351 closed

[2018-03-20 10:54] IvanIvan12 opened #359 "No sensor data over coap from OpenMote Rev. A1 with OpenUSB Rev. A2"
I run rpl-boarder router on one of the OpenMotes complied like this:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB0 border-router.upload

and tunslip:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB0 connect-router

On another mote I run coap serer like this:
sudo make TARGET=openmote-cc2538 BOARD_REVISION=REV_A1 PORT=/dev/ttyUSB1 coap-example-serv

[2018-03-22 15:57] Tim024 opened #361 "TSCH keepalive issue"
In tsch.c we have:
[code]
which results in a crazy loop if:
1) last_eb_nbr_addr is not null,
2) the queue is full (or any other reason causing status=MAC_TX_ERR I guess)

because this callback is called immediately if there is an error.

All the attempts to fill the queue with keepalive messages flood the network with error messages, see the attached screenshot. In my case, after a few minutes, on

[2018-03-22 16:46] simonduq commented on #361
Thanks for reporting. I fully agree with your fix. The current behavior is undesired in the `MAC_TX_ERR` case as you point out, as well as in the `MAC_TX_COLLISION` case, where we'd end-up sending more under contention. Please do open a PR :)

[2018-03-23 18:03] simonduq commented on #22
I guess we should close this one now with BLEach

[2018-03-23 18:05] simonduq commented on #106
Wasn't this issue closed by https://github.com/contiki-ng/contiki-ng/pull/182 ?

[2018-03-23 18:07] simonduq commented on #211
@laurentderu any update on this? Anything we can do on our side to speed-up the process?

[2018-03-23 18:08] #106 closed

[2018-03-23 18:10] simonduq opened #364 "Cooja motes: porting to common main"

[2018-03-23 18:23] #361 closed

[2018-03-23 18:40] g-oikonomou commented on #22
Either that, or we can leave it here as a reminder that we need a BLE radio API :)

[2018-03-24 17:01] #364 closed

[2018-03-25 12:38] simonduq commented on #128
OK I've been giving this more thought, let me describe below the different options and their trade-offs. There are at least two dimensions in the design space: how and when to fix the topology.

How:
* No action: with no action, nodes will eventually re-register their route with a new DAO. With the current defaults in RPL Lite, this happens at a 30-minute period.
* DTSN increment: the root can inc

[2018-03-25 14:00] simonduq commented on #158
Done https://github.com/contiki-ng/contiki-ng/wiki/Cooja:-simulating-a-border-router

[2018-03-25 14:00] #158 closed

[2018-03-26 07:18] simonduq commented on #61
@nfi what was really behind this? Did you already have code for this? If not I could look into this. How would this work? A bit like autostart processes? How does the module list get created automatically?

[2018-03-26 07:20] simonduq commented on #105
where are we on this?

[2018-03-26 07:29] simonduq commented on #244
Is there any chance we get this ready for 4.1? (i.e. PR in a couple days, before feature-freeze)

[2018-03-26 07:30] simonduq commented on #244
Assigning milestone 4.2 for now but would be more than happy to upgrade to 4.1!

[2018-03-26 07:33] simonduq commented on #249
@laurentderu do you have an implem in 6lbr that you want contribute, or would like us to provide the callback?

[2018-03-26 07:36] simonduq commented on #291
Do we have a fix for this? Would be nice to fix before 4.1 :)

[2018-03-26 07:39] simonduq commented on #353
What system are you on? Are you aware of the fact that Cooja motes are only supported on 32-bit linux? See https://github.com/contiki-ng/contiki-ng/issues/134

For now the preferred option to run Cooja motes is Docker https://github.com/contiki-ng/contiki-ng/wiki/Docker

[2018-03-26 07:48] simonduq commented on #359
Thanks for reporting. The reason the resources do not show up is because flags such as `PLATFORM_HAS_TEMPERATURE` etc. are not set on this platform. We do support temperature sensing on this platform, but not through the interface expected in this example. That's a problem.

@g-oikonomou should we add "sensors" to the list in https://github.com/contiki-ng/contiki-ng/issues/77 ?

[2018-03-26 07:50] simonduq commented on #214
I just wanted to point to this IETF I-D that describes a global timesync mechanism for 6TiSCH: https://tools.ietf.org/html/draft-vilajosana-6tisch-globaltime-00.html

[2018-03-26 09:03] IvanIvan12 commented on #359
Thanks.
Interestingly, the person who sells OpenMotes, referred me to contiki-ng because I was not able to get the same example working on OpenWSN, since the OpenWSN is not ready for it according to his words. If I only knew, I would have never bought the device.

I guess you can close this issue and thanks once again.

[2018-03-26 10:28] g-oikonomou commented on #359
I think sensors are an entirely different can of worms, probably one that deserves its own issue!

[2018-03-26 10:28] #359 closed

[2018-03-26 10:35] g-oikonomou commented on #359
I am looking at this again. Setting `PLATFORM_HAS_TEMPERATURE` is one thing. The second thing is to create a sensor variable named `temperature_sensor` and get it to use the existing sht21 driver. Unless I have missed something, it should be a trivial diff to make this work for the temperature sensor at least.

[2018-03-26 10:38] g-oikonomou commented on #359
Ditto light using the max44009, I think

[2018-03-26 10:49] atiselsts commented on #105
Still waiting for #19. I understand that Michael does not have time to work on in for the near future, so I could look at it and try to make progress when there's time.

[2018-03-26 10:51] atiselsts commented on #214
Might be nice future extension. I see that the draft is still in early stages, so would not rush it right now.

[2018-03-26 11:00] simonduq commented on #214
Agree. Shall we flag this issue as "roadmap" btw? Any particular milestone or "long term"?

[2018-03-26 11:02] simonduq commented on #359
Yes but then we'd want not only temperature and not only this paltform. Opening new issue.

[2018-03-26 11:04] simonduq opened #374 "HAL for sensors"
We need to homogenize access to e.g. temperature sensor. There exists some very minimal HAL but it's only supported by a small subset of platforms. Consists basically in `PLATFORM_HAS_TEMPERATURE` and `temperature_sensor`.

Related to https://github.com/contiki-ng/contiki-ng/issues/359

[2018-03-26 11:04] g-oikonomou commented on #359
Yes sensors API is one thing. My subsequent posts were about getting some OpenMote sensor support in this example using the current code base

[2018-03-26 11:06] simonduq commented on #359
Agree, @IvanIvan12 getting this particular example to work on OpenMote should be quite trivial.
As for the HAL, new issue at https://github.com/contiki-ng/contiki-ng/issues/374

[2018-03-26 11:13] g-oikonomou commented on #374
I've been thinking about this for over a year...

We need a HAL that:
* Acknowledges the fact that a sensor (sensing element / hardware part) can support multiple sensor readings (e.g. an SHT can give you temperature and humidity).
* Supports asynchronous readings (some sensors can take hundreds of ms from power up to reading ready). A uniform way to do this with events would be nice hear, see som

[2018-03-26 18:57] simonduq opened #377 "TSCH: write Doxygen"

[2018-03-26 19:04] simonduq commented on #168
Please take a look at https://github.com/contiki-ng/contiki-ng/pull/380 and let us know if this works for you!

[2018-03-27 21:42] beleyj opened #386 "Slip Radio sending duplicate messages"
So I have been running tests on a CoAP testbed set up and everything has been running perfectly. Here is a overview of it:

![image](https://user-images.githubusercontent.com/19689682/37996234-f6f6e91e-31e4-11e8-96b3-8cd8000f4b8b.png)

However, I just used Sensniff to monitor traffic coming from the 802.15.4 SLIP Radio to the CoAP Server (Ti SensorTag). For every single request that my CoAP client

[2018-03-27 21:50] g-oikonomou commented on #386
Hi. Interesting. Had you been using ContikiMAC I'd have said that this is perfectly normal, but we don't have ContikiMAC here. What did you use to build your SLIP radio? Presumably you are using CSMA MAC on the CoAP server side of things?

There is no bad FCS in any of the frames of the packet capture, which means you need to adjust the configuration of your Wireshark. Use TI FCS under .15.4 prefe

[2018-03-27 23:08] beleyj commented on #386
Thanks for the quick reply. I just checked and realized I am using an older .bin of the SLIP radio example from Contiki 3.0 and not from Contiki-NG. Therefore, it is using ContikiMAC and explains this situation. Thank you for the help.

Why in Contiki-NG did you decide to remove support for ContikiMAC?

[2018-03-27 23:09] g-oikonomou commented on #386
ContikiMAC is not standard. We focus on standards. CSL is in the wishlist :)

[2018-03-28 02:41] andreyferriyan opened #388 "Update vagrant documentation"
https://github.com/contiki-ng/wiki-sandbox/wiki/Documentation:-Vagrant

[2018-03-28 05:38] janeksz opened #389 "cc26xx-web-demo doesn't work"
tested on cc2650SensorTag keeps blinking, doesn't join the network http://e2e.ti.com/support/wireless_connectivity/zigbee_6lowpan_802-15-4_mac/f/158/p/673650/2487357#2487357

[2018-03-28 07:15] g-oikonomou commented on #389
Are the Contiki-NG and 6lbr versions that you are using known to work with each other? Have you checked this page out? https://github.com/cetic/6lbr/wiki/Contiki-NG

[2018-03-28 08:11] simonduq commented on #386
OK, closing then, @beleyj let us know if you want us to re-open

[2018-03-28 08:11] #386 closed

[2018-03-28 08:15] simonduq commented on #388
Updated in main wiki, thanks!

[2018-03-28 08:15] #388 closed

[2018-03-28 15:52] Jappedonquixote opened #390 "Update "Platform srf06 cc26xx" wiki page to make it more explicit/entry friendly"
I have been tinkering around with the srf06 cc26xx platform in combination with a CC2650EM for a little while now (macos), and in the process started over with a "clean slate" a couple times. The first time I had problems getting the hello-world example run out of the box, and while starting over each timea ran into the same issues, and solved them eventually using some tutorials/forum threads fou

[2018-03-28 15:55] Jappedonquixote commented on #390
I am aware that this is a lot of text, but I hope this makes it more clear. Myabe an alternative might be to change the code in such a way that when #define ROM_BOOTLOADER_ENABLE 1 is set, automatically also:

#define SET_CCFG_BL_CONFIG_BOOTLOADER_ENABLE 0xC5 // Enable ROM boot loader
#define SET_CCFG_BL_CONFIG_BL_LEVEL 0x0 // Active low to open boot loader backdoor
#define SET_CCFG_BL_CONFIG_BL_E

[2018-03-28 20:14] g-oikonomou commented on #390
Thanks for the input, very valuable. I went through it, but obviously a fair bit to digest!

[2018-03-28 21:15] janeksz commented on #389
Thanks, George
I had a naive idea, that old Contiki, and Contiki NG are compatible and I didn't recompile 6lbr on my RPi.
I created a simple network with a 6lbr edge router running on RPi and a few CC2650 SensorTag motes running old Contiki examples (cc26xx-web-demo). Next, I built and flashed another SensorTag with a new ContikiNG image of cc26xx-web-demo. I see it doesn't and will not work. Than

[2018-03-28 21:17] #389 closed

[2018-03-29 06:29] simonduq commented on #389
Unless you need specific features of 6lbr you might want to try the border router from main repo: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-RPL-border-router

[2018-03-29 06:33] IvanIvan12 commented on #359
Thanks. I managed to do it. It was not too hard thanks to your instructions.

[2018-03-29 06:53] simonduq commented on #359
Awesome :)

[2018-03-29 10:58] marcomilazzo opened #391 "generic info"
hi
i have some question and reading all i can ,i don't find answers!
I'm new  and i have relative confidence with contiki !
so:
i compiled the udp-server /client on cc1310 and they work perfectly
How many node i can have ? do i need to configure some defines for thousands of nodes?
or do something else? can i have more then one udp-server ?
Also i wuold like to read the rpl info from the node dire

[2018-03-29 14:51] g-oikonomou commented on #390
Hi @Jappedonquixote this was very useful

You are of course right. I have changed this.

#define SET_CCFG_BL_CONFIG_BOOTLOADER_ENABLE 0xC5 // Enable ROM boot loader
#define SET_CCFG_BL_CONFIG_BL_LEVEL 0x0 // Active low to open boot loader backdoor
#define SET_CCFG_BL_CONFIG_BL_ENABLE 0xC5 // Enabled boot loader backdoor

It appears as though you may be using an old version of CC26xxware (or CC13xx

[2018-03-29 15:23] g-oikonomou commented on #390
I have reworked this page a bit based on your feedback

* Under "Requirements", I have added:

    For additional help on how to set your system up, you may also find the guides below useful:

    * Native toolchain installation (Linux)
    * Native toolchain installation (OS X)

* I have sub-sectioned "How to Program your Device". We now have information on how to do things over JTAG and separate

[2018-03-29 15:24] g-oikonomou commented on #353
I should add that I have seen travis fail transiently with an error output that is similar to the OP. Could be a coincidence.

[2018-03-29 15:30] #178 closed

[2018-03-30 13:56] g-oikonomou commented on #359
@IvanIvan12 feel free to open a pull request for this one

[2018-03-30 17:21] g-oikonomou opened #395 "Platforms overwrite each other's build output"
Let's take hello-world as an example, but this is the case for all our examples at the moment.

* `make TARGET=zoul` results in a `hello-world.bin` file.
* `make TARGET=nrf52dk` results in a different `hello-world.bin` file, silently overwriting the zoul one.

This poses a risk of a user programming one device with a firmware built for a different device. This is the case for multiple platforms, n

[2018-03-31 15:19] yatch commented on #395
I'm not sure whether it's a bug or not... How about putting all the resulting files other than `.$(TARGET)` into `obj_$(TARGET)`?

[2018-04-01 12:55] yatch commented on #250
I've open a PR for this issue... I'm sorry that it may be too late.

[2018-04-02 14:30] g-oikonomou commented on #374
Hi folks, I've started knocking something together for this one. Please post with requirements.

[2018-04-03 08:22] IvanIvan12 commented on #359
Thanks, I will.

[2018-04-03 08:29] joakimeriksson commented on #374
Another good thing would be to support multiple instances of the same sensor reading type. At least multiple temperature sensors coming from different chips. And even better support multiple instances with the same chip (e.g. having two sht11 or similar).

[2018-04-03 09:00] Jappedonquixote commented on #390
Thanks for the comment. I was super confused as to why my files were containing the old code, but now rechecking it using the new code everything seems to work quite smooth using the ifdefs. I think the sub-sectioning of "How to program your device" will help a lot. I would still maybe change the line "(see previous subsection)" into (see subsection over JTAG) for sake of explicitness.

[2018-04-03 09:05] Jappedonquixote commented on #390
Altough I still do not get why the Bootloader is not set to 1 by default since this seems the case for the other platforms?

[2018-04-03 09:56] g-oikonomou commented on #374
In which scenario, what do we want to be able to do? What's the use case?

[2018-04-03 13:09] zhitaoh opened #409 "switch-case indent in uncrustify config missing"
The [code style](https://github.com/contiki-ng/contiki-ng/wiki/Code-style) says:

And provides the following example:
[code]

The current [configuration](https://github.com/contiki-ng/contiki-ng/blob/develop/tools/code-style/uncrustify.cfg) of the uncrustify beautifier does not enforce this rule. Should this rule be removed from the code style, or should the rule be added to the uncrustify config?

[2018-04-03 21:45] g-oikonomou commented on #409
I would rather change the code style example to be honest, most of the code currently does what uncrustify does (probably not a coincidence... :))

[2018-04-05 06:48] simonduq commented on #191
Just noticed this was tagged 4.1 but not assigned to anyone. Can we realistically fix this by 4.1?

[2018-04-05 06:49] simonduq commented on #83
Postponing to 4.2, as we will need more time to make sure doc, examples and everything remains consistent after the change.

[2018-04-05 06:49] simonduq commented on #217
Any update on this @atiselsts ?

[2018-04-05 06:49] simonduq commented on #276
Any update on this?

[2018-04-05 06:50] simonduq commented on #279
Any update on this?

[2018-04-05 06:50] simonduq commented on #19
Ping

[2018-04-05 06:50] simonduq commented on #2
Postponing to 4.2.

[2018-04-05 08:03] zhitaoh commented on #409
I agree to remove the example from the Wiki page and keep the uncrustify rules. Here is the change:
[https://github.com/contiki-ng/wiki-sandbox/wiki/Code-style](https://github.com/contiki-ng/wiki-sandbox/wiki/Code-style)

[2018-04-05 13:33] g-oikonomou commented on #409
I am now wondering whether we should change the example to match what uncrustify does, instead of entirely removing. Thoughts?

[2018-04-05 16:51] nfi commented on #409
For code style, I think more code examples are preferred over less. I would also rather keep the example but changing it to match uncrustify.

[2018-04-05 18:47] marcomilazzo opened #413 "differences between Contiki and Contiki-ng"
hi
i have one udp-server and 10 udp-clients  with cc1310
i compiled Contiki with non storing
#define WITH_NON_STORING 1 /* Set this to run with non-storing mode */
allo runs fine . the only differance is that to call the client  i must use fd80 while receiving fd00
but i woorks

i compiled contiki-ng  with udp-client server  and  the 10 node clients will reset !!!
every 50 connections like
Also co

[2018-04-05 19:06] simonduq commented on #391
You'll find details of how to configure a RPL network at https://github.com/contiki-ng/contiki-ng/wiki/Documentation:-RPL. For confirmed issues or feature requests, open a Github issue, with one single topic per issue, described with enough information to make it reproducible. For a more chat-like interaction, join our Gitter.

[2018-04-05 19:06] #391 closed

[2018-04-05 19:06] simonduq commented on #413
Same comment as #391 applies here.

[2018-04-05 19:06] #413 closed

[2018-04-06 09:01] zhitaoh commented on #409
Swtich-case example restored, without inner indentation:
[https://github.com/contiki-ng/wiki-sandbox/wiki/Code-style](https://github.com/contiki-ng/wiki-sandbox/wiki/Code-style)

[2018-04-06 22:09] janeksz commented on #389
thanks, appreciate it

[2018-04-07 11:25] simonduq opened #420 "CoAP documentation and tutorials"
The CoAP documentation page mentions more doc to come after #16 and #42 is merged... which is now the case :) Also, we're still lacking a CoAP tutorial.

I'm happy to take care of creating the tutorial.
@nfi @joakimeriksson for the doc?

[2018-04-07 11:41] simonduq commented on #350
I added the links to the main page.

One thing that I think is missing is an output example for the LWM2M tutorial. In this case, perhaps a screenshot?

[2018-04-09 16:44] marcomilazzo opened #424 "pwm duty cycle"
hi
does anybody nows how to set the PWM duty cycle for cc2650 cc1319
The buzzer.c (controlled by pwm) used in the mqtt-web-demo sets the frequency
works fine
but i can't understand how i set duty cycle
thank's
marco

[2018-04-10 02:33] bsmelo opened #425 "[Potential] Security Vulnerabilities within Erbium"
Hello developers of Contiki-ng/Erbium,

My name is Bruno, and I'm an MSc. student in Brazil within the Institute of Computing from the University of Campinas.
As part of my research on the application of fuzzing techniques for robustness and security black-box testing of CoAP implementations, I've tested your library. The sample used in my research was compiled from distribution/commit 9777ac4 @ 2

[2018-04-10 07:30] simonduq commented on #425
Hi,
This is the right place to report such bugs. Please do share the script, pcap and logs, as well as complete instructions how to reproduce. We will investigate.
Thanks a lot for reporting!

[2018-04-10 09:09] zhitaoh commented on #420
The current examples/coap dir contains an example client that uses the blocking API. Ideally there should be a separate example that showcases the usage of the alternative non-blocking, "callback" API.

It would be good to have another example to show how to switch on transport layer encryption using the coap_endpoint_connect()/disconnect() functions.

[2018-04-10 16:02] bsmelo commented on #425
Hello,

We found 1 failure on this sample. You can find the script [1], the pcapng file [2] and the logfile [3] in this message.

The script uses Scapy [4] to read the packets from the pcapng file as well as sending them, which unfortunately requires sudo to send packets in the network. Although sudo for this is ugly (imho), you can still easily inspect the very small and simple script.

Please le

[2018-04-12 16:16] nfi commented on #425
Thanks for reporting this and for the excellent test case to reproduce the problem! I made a PR #430 to address this issue.

[2018-04-12 17:45] bsmelo commented on #425
Great! =)

I see there are two CVEs reported for Contiki 3.0 at [1]. Should we apply for a CVE on this issue for Contiki-NG?
Also, I should probably report this to Contiki 3.0 team as well, since it looks like they could have the same problem, right?

[1] https://www.cvedetails.com/product/38087/Contiki-os-Contiki.html?vendor_id=16528

[2018-04-12 19:08] simonduq commented on #425
If the issue exists also in NG yes, please consider also reporting it!

[2018-04-13 04:11] chenek opened #431 "cc26xx-web-demo (LAUNCHXL-CC1310) cannot join 6lbr with Contiki-NG network"
After I build and run 6lbr with Contiki-NG on LAUNCHXL-CC1310, my cc26xx-web-demo (LAUNCHXL-CC1310) cannot join the network. LAUNCHXL-CC1310 running cc26xx-web-demo keeps fast blinking green LED and I also cannot see it pops on sensors tab of 6lbr web page.
![contiki-ng](https://user-images.githubusercontent.com/14016565/38716440-630c01ee-3f13-11e8-8a88-7946935cb85b.jpg)

I also use sensniff to ch

[2018-04-13 09:10] simonduq commented on #431
Hi,

Did you check the limitations of 6lbr for NG? https://github.com/cetic/6lbr/wiki/Contiki-NG

Did you try with the border router included in NG? https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-RPL-border-router

[2018-04-13 16:30] simonduq commented on #420
Tutorial available at: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-CoAP

[2018-04-13 16:30] simonduq commented on #350
CoAP tutorial at Tutorial available at: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-CoAP

[2018-04-14 08:30] marcomilazzo opened #435 "DS18B20 code"
Hi
a sample code for the sd18b20 in cc1310/ cc2650.

/* It works without the 4.7K resistor between VCC and the in pin of the sensor */
/* includ the math.h for printing floats */

#include "contiki.h"
#include "ti-lib.h"
#include "ioc.h"
#include <stdio.h>
#include <string.h>
#include <math.h>

#define DS18B20_COMMAND_READ_SCRATCH_PAD 0xBE
#define DS18B20_COMMAND_START_CONVERSION 0x44
#define DS18

[2018-04-14 10:53] marcomilazzo opened #436 "Pwm sample code for cc1310/cc2650"
Hi
this code is a modified version of buzzer.c of the mqtt demo .it has controll of the duty cycle
ciao

#include "contiki.h"
#include "ti-lib.h"
#include "lpm.h"
#include <stdio.h>
#include <string.h>

#define PWM_PIN 1

LPM_MODULE(pwm_module, NULL, NULL, NULL, LPM_DOMAIN_PERIPH);

/*---------------------------------------------------------------------------*/
PROCESS(pwm, "pwm");
AUTOSTART_PROCE

[2018-04-16 01:13] chenek commented on #431
@simonduq Thanks for your help.
1. Yes, I had read https://github.com/cetic/6lbr/wiki/Contiki-NG.  I think if I build slip radio and cc26xx-web-demo for LAUNCHXL-CC1310, it should be no problem, isn't it? Do I need to take care of something when build those projects to run with cetic 6lbr/contik-ng?

2. When I tried to build border router included in NG on my Raspberry Pi, I get the following erro

[2018-04-16 07:32] simonduq commented on #431
Do you have a slip-radio device connected? You can specify a port with `-s` when running `./border-router.native`

[2018-04-16 07:40] g-oikonomou commented on #435
@marcomilazzo having those as pasted text in an issue makes things very difficult to review and manage. If you wish this to be considered, can you please convert it to a proper pull request and also format the code properly? The build system may need adjusted too, we'll see.

I'll be closing this one.

[2018-04-16 07:40] #435 closed

[2018-04-16 07:41] g-oikonomou commented on #436
Same comment as in #435, this needs converted to a pull request if possible.

[2018-04-16 07:41] #436 closed

[2018-04-16 08:30] marcomilazzo commented on #435
hi
i tried to open a pullwith no sucess !the code is for you and use ad yoi like
i will try again

[2018-04-16 08:41] marcomilazzo commented on #436
I'm sorry
can yoi explain me how and were to do it?
marco

[2018-04-16 11:25] chenek commented on #431
@simonduq Sorry, I am careless and don't build the native border router on Raspberry Pi. Can you show me how to build native border router on Raspberry Pi?

[2018-04-16 11:27] simonduq commented on #431
This should work on RPI just as well as on any Linux: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-RPL-border-router#native-border-router

[2018-04-16 11:32] chenek commented on #431
@simonduq my question is what TARGET should I use when I do make on my Raspberry Pi?

[2018-04-16 11:36] simonduq commented on #431
`native`. But this is not the problem you're having: you're showing logs from a RPI, which suggest the binary is already compiled for the right `TARGET`.

[2018-04-16 11:47] chenek commented on #431
@simonduq  Thanks for the help. I see. Anyway, I just rebuild rpl0border-router and run sudo ./border-router.native fd00::1/64. However, I see the same issue. I am sure I have plugin LAUNCHXL-CC1310 running slip-radio to Raspberr Pi but it emulated as ttyACM0. So, the question is where to change siodev to ttyACM0?

[2018-04-16 11:54] simonduq commented on #431
https://github.com/contiki-ng/contiki-ng/issues/431#issuecomment-381505928

[2018-04-16 12:56] chenek commented on #431
@simonduq Now, rpl-broder-router seems running successfully on my Raspberry Pi. If I am correct, rpl-broder-router is not like 6lbr so I cannot access to [bbbb::100]. Is it correct? I can only try to join cc26xx-web-demo to rpl-broder-router and see if I can access to the web page on cc26xx-web-demo. Is this correct?

pi@raspberrypi:~/test/contiki-ng/examples/rpl-border-router $ sudo ./border-rout

[2018-04-16 13:28] simonduq commented on #431
At the risk of repeating myself, this is covered in https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-RPL-border-router

[2018-04-16 21:18] mike-forster opened #439 "Encoding and decoding Nested IEs in TSCH"
I think there is a problem in the encoding and decoding of Nested IDs in TSCH.

In 802.15.4-2015 paragraph 7.4.4.1 shows the Sub-ID is in bits 8-14 but the code puts it into bits 8 - 15. In frame802154e-ie.c is the following -
[code]
As you can see the sub_id is shifted left 8 bits rather than 7. If the Type is 0 and sub_id is 0x1c (TSCH Timeslot IE) then the ie_desc MSB is 0x1c whereas it should

[2018-04-17 06:45] simonduq commented on #431
The native BR runs the shell, you should be able to interact from stdin/stdout. Try to print RPL status, routes and neighbors from it. Type `help` for a list of commands.

[2018-04-17 06:59] simonduq commented on #439
It's easy to get confused between the code and IEEE document, because when we shift left, the bits actually move right on the IEEE figures :p

Things look correct to me here. If we take your example with sub_id 0x1c, then this goes to bits 8--14, and bit 15 is 0. This means, the MSB has:
* 0x1c as bits 0--6;
* 0 as bit 7.

Which is 0x1c. Or am I missing something?

PS: this was tested for interop

[2018-04-17 07:28] chenek commented on #431
@simonduq Thanks a lot. I do "ip-nbr" in the shell and I can see my cc26xx-web-demo is listed by it. According to my current test, cc26xx-web-demo can join rpl-border-router but why cc26xx-web-demo cannot join 6lbr/contiki-NG?

[2018-04-17 07:32] mike-forster commented on #439
Okay, I'm being an idiot. This issue can be closed.

[2018-04-17 07:32] #439 closed

[2018-04-17 07:40] chenek opened #440 "Failure to run cc26xx-web-demo MQTT publish to IBM Watson Iot Platform."
I try to to run cc26xx-web-demo MQTT publish to IBM Watson Iot Platform. I create the following device on  IBM Watson Iot Platform.

![watson](https://user-images.githubusercontent.com/14016565/38854911-9564c36c-4254-11e8-98d8-60cf7dd35875.png)

I get Device Type : cc26xx-ibm-iot, Organization ID : uc6bmi and Authentication Token (I don't show here). I fill those information into cc26xx-web-demo M

[2018-04-17 07:49] simonduq commented on #439
Hey no worries. These things are easier to get wrong than it looks.

[2018-04-17 08:07] simonduq commented on #431
Probably because you're on RPL-Lite (Contiki-NG's default, and most solid option) whereas 6lbr currently only supports RPL-Classic and storing mode.
https://github.com/cetic/6lbr/wiki/Contiki-NG

[2018-04-17 14:30] g-oikonomou commented on #440
I've not used that in a while, so I am reading the docs again ([This page](https://console.bluemix.net/docs/services/IoT/reference/security/connect_devices_apps_gw.html#connect_devices_apps_gw) and [this page](https://console.bluemix.net/docs/services/IoT/devices/mqtt.html#mqtt)).

For devices, the client ID should be in the format `d:orgId:deviceType:deviceId` and as far as I can see in the code

[2018-04-17 14:33] chenek commented on #440
Yes, QuickStart works fine. When I test with Org ID and Auth token from IBM Watson IOT Platform, what IPv6 address should I use? Do I have to change it from QuickStart IPv6 address?

[2018-04-17 14:45] simonduq commented on #431
Please really consider browsing our wiki, we now have a lot of doc over there.
For configuration https://github.com/contiki-ng/contiki-ng/wiki/The-Contiki%E2%80%90NG-configuration-system

[2018-04-17 16:36] g-oikonomou commented on #440
Regarding IP addresses, I'm pretty sure you didn't have to in the past. If you are getting those errors it means your device is likely talking to the platform correcty. But if I can understand the docs correctly maybe you need to use  the IP address of `uc6bmi.messaging.internetofthings.ibmcloud.com`. What IP address are you using? Where did you get it from?

From what I can see again in the docs,

[2018-04-17 16:38] g-oikonomou commented on #440
It would be very useful if you could run wireshark on some interface where the traffic goes through and then capture the MQTT connect message and the MQTT publish message (if one ever goes out)

[2018-04-18 01:30] chenek commented on #431
@simonduq I had read the wiki docs but not aware how to do it. Now I get it. However, I get the following compile error when I do "make TARGET=srf06-cc26xx BOARD=launchpad/cc1310 MAKE_ROUTING=MAKE_ROUTING_RPL_CLASSIC cc26xx-web-demo.bin" to build cc26xx-web-demo.

  CC        ../../../../arch/cpu/cc26xx-cc13xx/lib/cc13xxware/startup_files/ccfg.c
  CC        ../../../../arch/cpu/cc26xx-cc13xx/./iee

[2018-04-18 02:14] chenek commented on #440
In previous test, I use 0064:ffd9:0000:0000:0000:0000:b8ac:7cbd which is QuickStart IPv6 address as Broker IP. Today, I try to use 0064:ffd9:0000:0000:0000:0000:A92D:0214 (IPv4 address of uc6bmi.messaging.internetofthings.ibmcloud.com is 169.45.2.20 and IPv6 is 0064:ffd9:0000:0000:0000:0000:A92D:0214) as Broker IP to test again and it still doesn't work. I attach the wireshark log

[uc6bmi.messagi

[2018-04-18 05:16] chenek commented on #440
@g-oikonomou I also use 0064:ffd9:0000:0000:0000:0000:b8ac:7cbd which is QuickStart IPv6 address as Broker IP to test agin and it still doesn't work. The following attachment is wireshark sniffer log.

[ibmquickstart.pcapng.zip](https://github.com/contiki-ng/contiki-ng/files/1922511/ibmquickstart.pcapng.zip)

[2018-04-18 06:03] amigomcu opened #441 "how to add device to blacklist and to refresh netkey"
hi all,
how to leave a node at network ?

That node  i need to Remove from network.
i think it should be alike network ,
add the node in blacklist and refresh network key with others.

how to add device to blacklist and to refresh netkey ?

[2018-04-18 07:05] simonduq commented on #377
Promoting to 4.1

[2018-04-18 07:53] simonduq commented on #441
Please read this: https://github.com/contiki-ng/contiki-ng/wiki/Where-to-report-issues,-ask-questions,-etc.%3F

[2018-04-18 07:53] #441 closed

[2018-04-18 07:54] simonduq commented on #424
Please read this: https://github.com/contiki-ng/contiki-ng/wiki/Where-to-report-issues,-ask-questions,-etc.%3F

[2018-04-18 07:54] #424 closed

[2018-04-18 08:40] chenek commented on #440
@g-oikonomou When I fill those information into cc26xx-web-demo MQTT/IBM cloud config page and click submit, I see "Auth Token" turn to blank but other fields not. Is this a problem?

![blank-suth-token](https://user-images.githubusercontent.com/14016565/38920914-0490b5e8-4327-11e8-8b8a-2f4864b5ed6d.png)

[2018-04-18 08:52] simonduq commented on #431
Looks like you didn't clean your build

[2018-04-18 09:01] chenek commented on #431
@simonduq I git the latest version of https://github.com/contiki-ng/contiki-ng today. I just do "make clean" and then "make TARGET=srf06-cc26xx BOARD=launchpad/cc1310 MAKE_ROUTING=MAKE_ROUTING_RPL_CLASSIC cc26xx-web-demo.bin". However, I see the same problem. Can you check if there is something wrong in current source code?

[2018-04-18 09:34] simonduq commented on #431
Specify the `TARGET` when cleaning, or else use `distclean`: https://github.com/contiki-ng/contiki-ng/wiki/The-Contiki%E2%80%90NG-build-system

[2018-04-18 09:52] chenek commented on #431
@simonduq Just try both "make TARGET=srf06-cc26xx clean" and "make distclean" before I do "make TARGET=srf06-cc26xx BOARD=launchpad/cc1310 MAKE_ROUTING=MAKE_ROUTING_RPL_CLASSIC cc26xx-web-demo.bin". However, I still get the same compile error.

[2018-04-18 11:08] simonduq opened #442 "cc26xx-web-demo/cetic-6lbr-client does not support RPL Classic"
Does simply not compile, see https://github.com/contiki-ng/contiki-ng/issues/431#issuecomment-382214734

It is a problem because 6lbr still requires RPL Classic.

[2018-04-18 11:08] simonduq commented on #431
Oh sorry, I was trying with the wrong example.
It does look like a bug on our `cetic-6lbr-client.c`, yes.
Only supports RPL Lite but not RPL Classic.

Added a new issue: https://github.com/contiki-ng/contiki-ng/issues/442

[2018-04-18 11:32] chenek commented on #431
Thanks for verifying and confirm this issue.

[2018-04-18 12:01] g-oikonomou commented on #442
We need to fix this. What this code tries to do is to send to 6lbr the device's own preferred parent so 6lbr can display it in its web page. This was written for and used to work with classic, not sure at which point it broke.

Given how the example does some 6lbr-specific stuff, we should perhaps also test this example with classic on travis.

[2018-04-18 12:17] simonduq commented on #442
I guess this is how it broke:
* RPL Lite was added and made default
* This example was not updated to explicitly use Classic
* Then code evolved and Classic support broke

[2018-04-18 13:57] g-oikonomou commented on #442
Just to clarify, this example does _not_ need classic, it will work just fine with lite too.

For lite obviously there is no point in including the 6lbr-client, but this can be disabled using a macro so perhaps we should auto-disable when building for lite until a point when 6lbr supports lite too.

[2018-04-18 14:07] simonduq commented on #442
Oh I see. Let's do that, and then add a build test for Classic.

[2018-04-19 01:29] chenek commented on #431
@simonduq  and @g-oikonomou I see #443 . I test it and confirm it can work with 6lbr/Contik-NG now. You are great!

[2018-04-19 01:29] #431 closed

[2018-04-19 08:30] g-oikonomou commented on #440
130 is indeed `MQTT_EVENT_CONNECTION_REFUSED_ERROR`. No idea what might be causing this, it has worked fine in the past. Pretty certain by now it must be related to the authentication.

It seems you _are_ receiving the `CONNACK` message correctly. I need to look inside it, it typically carries the reason for connection failure.

[2018-04-19 08:31] g-oikonomou commented on #440
Of the two pcaps that you have linked above, which is the one that did not work? I can see successful MQTT connection establishment in both of them

[2018-04-19 08:46] chenek commented on #440
@g-oikonomou I do the wireshark sniffer again and attach it for your checking.
[MQTT_EVENT_CONNECTION_REFUSED_ERROR.pcapng.zip](https://github.com/contiki-ng/contiki-ng/files/1927325/MQTT_EVENT_CONNECTION_REFUSED_ERROR.pcapng.zip)

[2018-04-19 08:50] BlueberryTech01 commented on #440
Hi all, I'm having the same problem of @chenek . I tried translating my IPv4 of the cloud into IPv6 but nothing. How can I enter the auth-token?

[2018-04-19 09:05] simonduq commented on #431
Thanks @chenek for reporting the issue and confirming the fix!

[2018-04-19 13:54] BlueberryTech01 commented on #440
![cattura](https://user-images.githubusercontent.com/35565355/38995733-db65eff8-43e9-11e8-9d76-320e579482f2.PNG)

I see this. I using the ipv6 of my address orgid.messaging.internetofthings.ibmcloud.com. Problem with auth-token?

[2018-04-19 15:37] g-oikonomou commented on #440
These PCAPs are very helpful.

The the last PCAP, frame 31 is the `CONNECT` request, which is responded to with a `CONNACK`. This is what I expected to see. In the `CONNACK` the server returns response code 0x05: "Connection Refused: not authorized" and then immediately terminates the TCP connection.

In the `CONNECT` message, I was expecting to see the username bit set, the password bit set and t

[2018-04-19 15:39] g-oikonomou commented on #440
By the way, the Auth Token field of the web page will always be blank after the page loads, this is intentional.

[2018-04-19 15:40] BlueberryTech01 commented on #440
@g-oikonomou for adding the auth-token? Do you seen the my log message?

[2018-04-19 15:43] g-oikonomou commented on #440
@BlueberryTech01 the main concern I have about the log you posted is why it says `userID()`, it seems to be blank. I am not sure what it should say there, but I would have guessed it should say `use-token-auth`. I need to look at the IBM docs from closer and also need to verify what our client actually tries to do. I'll need to look into that.

Also, my mind could be playing tricks here, but I thi

[2018-04-19 15:50] BlueberryTech01 commented on #440
This @g-oikonomou https://console.bluemix.net/docs/services/IoT/reference/security/connect_devices_apps_gw.html#connect_devices_apps_gw .

I can not connect without auth?

[2018-04-19 21:30] g-oikonomou commented on #440
Heya @chenek @BlueberryTech01

I ran some tests in my rig: SmartRF06/cc2650EM web demo + zoul/firefly border router. I am running mosquitto broker on my localhost (device where the BR is connected).

I built the example as-is and let it run. In the attached PCAP, see how the device sends `CONNECT` (frame 96) with Client ID `d:quickstart:cc26xx:00124b8b858c`. In the `CONNECT` message, the username

[2018-04-19 21:51] BlueberryTech01 commented on #440
Hi @g-oikonomou,

Can you need the Auth-token to access the cloud? From how I read in IBM's documents,the port 1883 doesn't need security. It's possible?

[2018-04-19 21:57] g-oikonomou commented on #440
The IBM cloud has two flavours:

* Quickstart: No auth required
* Registered devices (many more features): You need token authentication

Port 1883 is MQTT unencrypted (as opposed to over SSL/TLS)

[2018-04-20 02:27] chenek commented on #440
@g-oikonomou In previous wireshark log, I hard code Type ID, Org ID, and Auth Token into cc26xx-web-demo.h and mqtt-client.c. I believe that's the reason why you don't see the username bit set and the password bit set. By the way, I don't know where to check this username bit and password bit in wireshark. Can you do a screenshot to show me how to check it?

This morning, I try to fill Type ID, Or

[2018-04-20 07:30] BlueberryTech01 commented on #440
@g-oikonomou Then, I cannot to communicate with cloud? Maybe that the Contiki OS don't support the TLS protocoll. Is correct?

[2018-04-20 13:54] g-oikonomou commented on #440
@BlueberryTech01 that is correct, we do not have MQTT over TLS at the moment.

@chenek this PCAP makes a lot more sense.

The logic is: If Type ID is quickstart, the client will try to connect without auth. If Type ID is anything else, it will try to connect using `use-token-auth` and a token. The same logic should be followed by the client if you hardcode a different Client ID as well as if you c

[2018-04-20 13:56] g-oikonomou commented on #440
I wrote Type ID where I should have written Org ID. Edited

[2018-04-20 14:07] BlueberryTech01 commented on #440
@g-oikonomou So how do I communicate with the cloud? How are you trying?

[2018-04-20 14:33] chenek commented on #440
@g-oikonomou May I know what wireshark version you use? In you screen shot, I see you fill mqtt in top left edit box and you can filter all MQTT  messages but I don't see it on my wireshark. I do comment out "subscribe();" to test with publishing only today but the result is the same. I don't do wireshark log and also don't download UART output when I test this. I can redo this later and post agai

[2018-04-20 14:40] chenek commented on #440
@g-oikonomou I install latest wireshark version and I can see similar in your screen shot.

[2018-04-20 14:55] chenek commented on #440
@g-oikonomou  I find I can see similar result in your screen shot with wireshark 2.4.6 to open your log in mqtt-tests.pcapng.zip. However, if I use the same version to open my log like MQTT_EVENT_CONNECTION_REFUSED_ERROR.pcapng.zip, I cannot see MQTT in protocol field and I only see 802.15.4. How do you decrypt my wireshark log? Is this related to my wireshark version when I run sensniff? Sorry to

[2018-04-20 21:01] g-oikonomou commented on #440
I am using WS 2.4.2 on Mac OS X. This version has opened all PCAPs posted in this thread and parsed frames no problem at all

[2018-04-20 21:02] g-oikonomou commented on #440
I have not used NAT64 in quite a while now, so currently no, I am not in a position to easily get nodes to talk to the IBM cloud

[2018-04-20 22:09] BlueberryTech01 commented on #440
@g-oikonomou If I want to communicate with cloud for to save the data. How can I do?

[2018-04-21 12:30] g-oikonomou commented on #440
Sorry @chenek I am not 100% sure what IP address should be used. When this example was developed we were just using the same IP addr for quickstart as well as for registered devices, I don't remember every having to change it. Using uc6bmi.messaging.internetofthings.ibmcloud.com  makes sense.

I cannot guess why the platform is refusing the connection.

[2018-04-21 13:57] chenek commented on #440
@g-oikonomou any comment about how to keep debugging to fix this issue?

[2018-04-21 14:30] g-oikonomou commented on #440
@chenek

I would debug without the example. I would register a device the way you have done. I would then use  `mosquitto_pub` or other MQTT client to try and understand / reverse engineer the situation. I would try connecting over unencrypted TCP vs over TLS.

For mosquitto, I would start with something like:

[code]

I would be running an MQTT packet capture on your device's outgoing interface t

[2018-04-21 14:36] chenek commented on #440
@g-oikonomou

I suspected the same thing and will do the same test to see if that is true.

[2018-04-21 14:40] g-oikonomou commented on #440
You may benefit by starting with publishing to quickstart using `mosquitto_pub` until you get comfortable with the CLI options. Let us know how it goes!

[2018-04-21 14:44] chenek commented on #440
@g-oikonomou I am comfortable with CLI and will test this first. Will update here once I have any finding. Thanks for your help.

[2018-04-22 04:14] chenek commented on #440
@g-oikonomou I just test mosquitto_pub as the following command but I get "Connection Refused: not authorised."

pi@raspberrypi:~/ng/6lbr/examples/6lbr $ mosquitto_pub -h uc6bmi.messaging.internetofthings.ibmcloud.com -u use-token-auth -P Ti23570163 -i d:uc6bmi:cc13xx:00124b27f319 -t iot-2/evt/status/fmt/json -m "{"d":{"myName":"LAUNCHXL-CC1310","Seq #":1,"Uptime (sec)":34,"Def Route":"fe80::212:4

[2018-04-22 08:09] #442 closed

[2018-04-22 14:00] chenek commented on #440
@g-oikonomou after I suf some IBM documents, I read this one https://console.bluemix.net/docs/services/IoT/reference/security/connect_devices_apps_gw.html#connect_devices_apps_gw and figure that IBM Watson IoT service uses TLS as default. After I set it to TLS optional, it works flawlessly. Thanks for your great support.

[2018-04-22 17:32] simonduq commented on #276
Closed by https://github.com/contiki-ng/contiki-ng/pull/434

[2018-04-22 17:40] simonduq opened #447 "Busy wait-free TSCH"
Currently TSCH has a number of busy waits, resulting in ISR that run up to a few milliseconds. This is obviously undesirable. Places that need fixing:
* [ ] CCA check: not enabled by default, but if enabled, the CCA check is done as a busy wait
* [ ] Tx and ACK Tx: until we have async RF operations (https://github.com/contiki-ng/contiki-ng/issues/220), `transmit` busy waits for the whole duration

[2018-04-22 20:31] g-oikonomou commented on #440
@chenek glad you got it to work. Can you please explain in a little more detail what you mean "set it to TLS optional" and how you did it? It'd be nice to document that in the respective example READMEs

[2018-04-22 22:10] atiselsts commented on #447
Some thoughts: this is not difficult to do, if the goal is to reduce the time spent in ISR. If the goal is to save energy - I think that could be difficult, at least on some platforms. I'll talk about CC2650, because I have used it.
1) Sleep is not very energy efficient compared to the active mode; deep sleep is, but only works for longer durations. Numbers: Rx + CPU active current on CC2650 is ~7

[2018-04-23 09:52] chenek commented on #440
@g-oikonomou I create pull request #448 for this. I also have a step-by-step guide for this prepared to publish on my blog. Don't know if it's suitable to add it to cc26xx-web-demo README.md.

[2018-04-23 11:17] g-oikonomou commented on #440
Perfect thanks. Provide a link to your blog and we can decide on the best way to handle it.

[2018-04-23 12:13] simonduq commented on #447
Yes the first goal here is to reduce time spend in ISR, to remove side effects on other system operations such as serial line or application stuff. Let's try to get this as energy-efficient as possible, and if needed, preserve the busy-wait option through a compile flag.

If you take a closer look, CCA check is straightforward (it's a fixed duration), Tx also comes with no energy trade-off. The di

[2018-04-23 12:36] chenek commented on #440
@g-oikonomou you can check https://sunmaysky.blogspot.tw/2018/04/how-to-connect-contiki-ng-cc26xx-web.html

[2018-04-23 22:34] g-oikonomou commented on #440
Thanks for the link. I am closing the issue now.

[2018-04-23 22:34] #440 closed

[2018-04-23 22:35] g-oikonomou commented on #409
@simonduq do you have a chance to look at this?

[2018-04-25 22:30] g-oikonomou commented on #41
Improving stability of CC13x0 prop-mode, as discussed in contiki-os/contiki#2161

[2018-04-25 22:34] g-oikonomou commented on #21
From various discussions on gitter, it is becoming increasingly obvious to me that we i) need TSCH support for CC13x0/prop-mode and other sub-ghz radios and ii) need CSL.

Wondering if CSL deserves its own roadmap issue.

[2018-04-26 07:16] simonduq commented on #21
I think it does (and this one issue might need renaming to be more "TSCH for all 15.4 radios"

[2018-04-26 13:07] simonduq commented on #377
Closed by https://github.com/contiki-ng/contiki-ng/pull/421

[2018-04-26 13:07] #377 closed

[2018-04-26 13:08] #276 closed

[2018-04-26 13:09] simonduq commented on #420
And documentation at https://github.com/contiki-ng/contiki-ng/wiki/Documentation:-CoAP

[2018-04-26 13:09] #420 closed

[2018-04-26 13:12] simonduq commented on #350
Summary of what's missing:
* [ ] DTLS documentation page
* [ ] Raw DTLS+CoAP tutorial
* [ ] DTLS in LWM2M tutorial

[2018-04-26 13:16] simonduq commented on #279
Postponing to 4.2

[2018-04-26 13:18] simonduq commented on #19
Postponing to 4.2

[2018-04-26 13:27] simonduq commented on #217
Postponing to 4.2

[2018-04-26 13:29] simonduq opened #457 "DTLS bug"
In some situations, the dtls module seems to use a peer that do not exist. A simple way to reproduce the issue is missing but a solution is to simply check if a peer is valid before using it.

[2018-04-26 13:30] simonduq opened #458 "Truncate log module name in CoAP and LWM2M"
We need to get the name at max 10 chars for a nicely aligned log output.

[2018-04-26 13:39] simonduq opened #459 "A pass on all tutorials prior to 4.1"
Basics:
* [ ] Hello, World!
* [ ] Logging
* [ ] NG shell
* [ ] RAM and ROM usage
* [ ] Energy monitoring
* [ ] Timers and events

Networking:
* [ ] IPv6 ping
* [ ] RPL basics
* [ ] RPL with border router
* [ ] TSCH and 6TiSCH
* [ ] CoAP
* [ ] LWM2M

Simulation:
* [ ] Cooja: getting started
* [ ] Cooja: simulating a RPL network
* [ ] Cooja: simulating a RPL network with a border router
* [ ] Runnin

[2018-04-26 19:46] simonduq commented on #459
I propose the removal of *Introduction to Contiki-NG Programming* , whose content is redundant with *Processes and events*

[2018-04-27 09:28] simonduq opened #463 "Build-all.sh failures"
Two fails (lack of space on multicast example):
[code]

[2018-04-27 13:07] arurke commented on #374
+1 on async readings and the multiple sensors in one driver (we hijacked various parameters in `sensors_sensor`, similar to what is done for mpu-9250).

Another point:
* A uniform way to represent the current state of the sensor (e.g. initializing, taking reading, reading ready etc. (sensors.h has a few))

[2018-04-27 15:35] g-oikonomou opened #465 "Incorrect CFLAGS with MAKE_NET_OTHER?"
When we build with `MAKE_NET=MAKE_NET_OTHER` the command line includes `-DNETSTACK_CONF_WITH_NULLNET=1 -DNETSTACK_CONF_WITH_OTHER=1`. This doesn't feel right.

[2018-04-27 15:41] simonduq commented on #465
Sounds like a bug to me.

[2018-04-27 16:24] g-oikonomou opened #466 "tunslip6 broken on Mac OS"
[code]

whereas with an old version:

[code]

The current version _will_ work if the tun name is specified in the command line, like so:

[code]

Reported first in contiki-os/contiki#1560

[2018-04-27 16:35] g-oikonomou commented on #459
Renode tutorial on Mac OS:

[code]

[2018-04-27 17:50] #463 closed

[2018-04-27 17:50] PiotrZierhoffer commented on #459
This was already reported to us by Joakim earlier today. On macOS we need to manually create a symlink or an alias, as DMGs are just mounted and can't influence the rest of the filesystem.

We updated our installation instructions accordingly, and Joakim slightly updated the tutorial.

Please accept it as a temporary inconvenience. We decided this option is better than to fiddle with the relevant

[2018-04-27 17:57] g-oikonomou commented on #459
@PiotrZierhoffer Thanks Piotr.

Here is what I've done in a nutshell.

* Installed mono
* Copied renode from the `.dmg` to `Applications`.
* Created alias as per [renode/renode/README.rst](https://github.com/renode/renode/blob/master/README.rst)
[code]

So far so good, no problems.

Then I followed the tutorial here and got the error above.

Subsequently:

[code]

mono problem maybe?

[2018-04-27 18:29] PiotrZierhoffer commented on #459
This is quite surprising, as we tested it today on a relatively clean macOS.

It looks like either libcairo.2.dylib is missing or it's missing references (somehow it cannot be loaded).

Can you give me the output of the following commands?

- mono --version (mine, for example, is 5.8.1.0)
- ls /usr/local/lib/libcairo.2.dylib; ls /usr/lib/libcairo.2.dylib (in my case it is in /usr/local/lib)
- otoo

[2018-04-27 18:34] g-oikonomou commented on #459
macOS High Sierra fully patched with recent macOS updates

Version 10.13.4 (17E199)

[code]

[code]

[code]

[code]

I'm about try with a more recent mono to prevent wasting your time. I think I installed mono when there was a project called "emul8" around...

[2018-04-27 18:52] simonduq commented on #459
Hi @PiotrZierhoffer

Am also trying out the tutorial now, and facing a different issue.  The client just prints
[code]

once and then nothing (it should at least print it every minute).

On the other hand, the terminal from where Renode is running suggests the simulation goes on normally, at least there is traffic.

Also:
1. I tried enabling the shell. Is serial input supported?
2. In the tutorial

[2018-04-27 19:05] g-oikonomou commented on #459
@PiotrZierhoffer thanks

I have updated mono:

[code]

I ran `renode` and in the console:
[code]

All fine. However:

[code]

Looks like it perhaps doesn't like the alias. Shameless ping to @joakimeriksson too

[2018-04-27 20:13] simonduq opened #469 "UART flow control"
Adding support for hardware flow control (RTS/CTS) when available, and software flow control (XON/XOFF) otherwise. This provides reliable UART, even if the MCU gets unresponsive e.g. due to long busy waits (happens for TSCH as long as https://github.com/contiki-ng/contiki-ng/issues/447 is not fixed).

Current support, as far as I know:
* tunslip6: hardware and software
* JN516x: hardware and softw

[2018-04-27 20:46] joakimeriksson commented on #459
True - I just tried with the make and it seems not to like the alias but will run if I replace with mono <PATH-TO-Renode> in the makefile. So alias seems not so good.

[2018-04-27 20:55] simonduq opened #470 "NAT64 and DNS64 tools"
We need better tools to use NAT64 and DNS64, for example:
* DNS64 client: last time I tried, did not work
* DNS64 shell command: one should be able to do a lookup from command line
* DNS64 in existing shell commands: one should be able to target hosts from their name
* NAT64 in existing shell commands: one should be able to target hosts with their IPv4 address or IPv4-compatible IPv6 (e.g. ::ffff:

[2018-04-27 20:57] joakimeriksson commented on #470
👍 agree 100%

[2018-04-27 23:55] nfi commented on #459
`make` can not use bash aliases in any simple way.

1. Instead of the alias, we could document how to create a small bash script named `renode` that starts renode. This script would need to be installed in the user command search path.

2. We could change the Makefile to detect if running under OSX and let it start renode from the standard installation path `/Applications/Renode.app/Contents/MacOS

[2018-04-28 00:37] g-oikonomou commented on #459
@nfi could [something line this](https://github.com/g-oikonomou/contiki-ng/commit/bd109ad3b66d1a8fc5b5276f38fe45fad5ecbd55) be what we want?

[2018-04-28 01:13] yatch commented on #459
@g-oikonomou I ran through [Toolchain installation on OS X](https://github.com/contiki-ng/contiki-ng/wiki/Toolchain-installation-on-OS-X) and found `tuntap` cannot be installed via `brew`.

[code]

http://brewformulas.org/tuntap shows this package is "inactive"... What should we do?

[2018-04-28 01:17] g-oikonomou opened #472 "Cannot define make rules in MODULE makefiles"
In the top-level `Makefile.include` we do this:

[code]

The second invocation of `include` will go and re-include the makefiles that were present in `MODULES_INCLUDES` at the time of first invocation.

This is problematic: Having a rule in one of these makefiles will result in a Make warning message:

[code]

We need a better way to allow a module to include another module.

[2018-04-28 01:40] yatch commented on #459
@g-oikonomou !!! sorry for the stupid question... It works!
[code]
Thank you. I updated the wiki page with this `brew cask install tuntap`.

[2018-04-28 06:35] PiotrZierhoffer commented on #459
As @nfi suggests, we hurried with a suboptimal solution. We will fix it soon.

@simonduq - unfortunately I cannot tell you anything at the moment, as during the weekend I won't have access to my PC. I will try to verify if as soon as possible.

[2018-04-28 06:53] simonduq commented on #459
Thanks! Some details below:
[code]

[code]

And a screenshot, taken several (real-time, not sure about emulated time) minutes in:

![image](https://user-images.githubusercontent.com/1425999/39393108-5dd19644-4ac1-11e8-8990-e4de01e28fc3.png)

[2018-04-28 11:34] nfi commented on #459
@g-oikonomou The makefile with renode variable should work nicely if we go for alt. 2. Also nice that the `cc2538dk` specifics was moved to its own file but perhaps the `SCRIPT` variable still should include the file postfix in case it is specified as a make argument (`make SCRIPT=rpl-udp.resc renode`). What do you think?

@simonduq I am also using mono 5.10.1.47 but under OSX where it seems to wo

[2018-04-28 11:38] g-oikonomou commented on #459
@nfi

Yes, good point. I am also wondering whether this entire logic can / should be moved to the CC2538DK Makefile, in prep of getting more examples supported.

[2018-04-28 11:54] nfi commented on #459
I think it would be very nice to move the logic to the CC2538DK Makefile. Then we would only need to add a script file to add renode support for an example without any need of Makefile modifications.

[2018-04-28 13:12] g-oikonomou commented on #390
I have updated the wiki to what is hopefully much clearer. I am also changing the default to enable the ROM bootloader. This issue will be closed when #473 is merged.

Thanks for the feedback.

[2018-04-28 13:58] #390 closed

[2018-04-28 18:04] simonduq commented on #459
@nfi is there a way I can look at pcap to check if traffic looks fine? Can I also check elapsed simulation time?

[2018-04-28 18:25] simonduq commented on #459
Thanks @PiotrZierhoffer , let me try this.

For `machine *` commands, I must be missing something. Where am I supposed to type these? Not the main terminal ('monitor') it seems.

[2018-04-28 18:34] PiotrZierhoffer commented on #459
Yes, you have to be in a machine context. Type in `mach`, this will give you a list of machines with their IDs. `mach set 0` to set the context of the first one.

[2018-04-29 19:32] PiotrZierhoffer commented on #459
@simonduq I do believe you might be observing a performance issue. The CC nodes are not sleepy, and Contiki has some strict timeout requirements - so the nodes are synchronized quite frequently. It causes the nodes to run at 25% of their target performance on a virtual machine on my laptop (not a very strong machine).

I just ran the same app with reduced `START_INTERVAL` and `SEND_INTERVAL` (to 5

[2018-04-29 20:42] simonduq commented on #459
Did more work on the Renode tutorial: https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-Running-Contiki%E2%80%90NG-in-Renode

Might need adjustments for OSX? (e.g. regarding the wireshark addgroup comment)

[2018-04-30 08:51] cquijano commented on #291
@therudo Wrote a patch for this on the old contiki, maybe is it possible to merge with contiki-ng:

https://github.com/therudo/contiki/tree/coap-duplicate-messages

[2018-04-30 18:28] lafka commented on #244
@joakimeriksson is the relevant code available anywhere? If you need some help testing i'll give it a roll!

[2018-05-01 09:33] lafka commented on #252
I've opted for the loading configuration from flash in `platform_init_stage_two/0` and then using a combination of macros (see below) and `NETSTACK_RADIO.set_value/2` calls in `platform_init_stage_three/0`.

This works okey in most cases but there are certain parameters (like `IEEE802154_CONF_PANID`) that requires non-constant values.

The setup is not at all great but it works for my case, if the

[2018-05-01 15:39] joakimeriksson commented on #244
Take a look this - this is what I did to try some LLSEC on the CSMA MAC. Not rebased for the latest NG but I guess it could still be useful. Will be rebased and completed before 4.2.

https://github.com/joakimeriksson/contiki-ng/tree/test/llsec-subghz-lwm2m

[2018-05-01 17:03] lafka commented on #244
Thanks! A few merge conflicts there but other than that I can get basic communicate between two devices almost out of the box (see patch below)

When transmitting a UDP packet between two cc13xx devices the receiver accepts packet and sends an ACK, then sender sees the ACK, ignores it, and does a retransmission. I'll look into it but i'm on thin ice when it comes to the inner working so might come

[2018-05-01 20:25] joakimeriksson commented on #244
I think there is a few things more to add - specifically related to runtime configuration (changing keys and security levels dynamically).

[2018-05-03 11:03] BlueberryTech01 commented on #440
Hi @g-oikonomou , I'd like to ask you something. I want to drive the LEDs of my device through cloud. Could you give me some advice?

[2018-05-03 13:43] chenek commented on #440
@BlueberryTech01 your question seems out of scope of this issue. I would suggest you to create another thread for your question.

[2018-05-03 14:08] BlueberryTech01 commented on #440
Why? I only asked if with Contiki it was possible to turn on/off led with a cloud.

[2018-05-03 14:16] BlueberryTech01 commented on #440
@chenek I thought I'd run this my problem with node-red. What do you think?

[2018-05-03 14:25] chenek commented on #440
I don't have experience using node-red to do this but I had connected cc26xx-web-demo to a local mosquitto mqtt server and use moqsuitto_pub to toggle LED on LAUNCHXL-CC1310 running cc26xx-web-demo.

[2018-05-03 14:38] g-oikonomou commented on #440
It should be possible to do exactly the same through IBM Watson, but only for registered devices (functionality not available on quickstart). For information as to how, I suggest reading the Watson docs, but the same publish message should do the trick.

[2018-05-03 14:44] BlueberryTech01 commented on #440
@g-oikonomou I read all of Watson IoT's guidance. I thought there was something to create buttons to turn LEDs on and off from the Dashoboard

[2018-05-03 14:47] g-oikonomou commented on #440
Sorry, I cannot offer support for Watson. I have never used the registered device feature myself.

[2018-05-03 20:06] g-oikonomou opened #482 "Test out-of-tree builds on travis"
Building from outside the tree has been something that we have always kinda wanted and half-supported. I think we should make a more conscious effort to support it. This may (or may not) involve bug fixing (I am thinking #432 here) and it would also be nice to test such out-of-tree builds on travis.

[2018-05-03 21:32] lafka commented on #244
Everything is working fine on my side, let me know if there's anything else I can do

[2018-05-03 21:36] simonduq commented on #244
I do think it's worth opening a PR so we have a good base for discussion :)

[2018-05-04 06:46] joakimeriksson commented on #191
This is now fixed via PR #462

[2018-05-04 06:47] #191 closed

[2018-05-04 07:11] joakimeriksson commented on #350
Raw DTLS + CoAP will be a bit complex as that will require some external Java or similar stack on the "outside" to test things. Probably we will need the Californium and Scandium for testing it.

[2018-05-04 08:06] BlueberryTech01 commented on #440
@chenek @g-oikonomou I talked to an IBM contributor. Then, you cannot create buttons to alter an LED or whatever. The only way to do this is to use node-red with Mosquitto and connect it to the IoT platform.

[2018-05-04 08:11] joakimeriksson commented on #244
Sure, but I'll focus on 4.1 release today - then I will open this as a PR - for discussion and improvement. I think we could get it in quite rapidly when 4.1 is out!

[2018-05-04 14:17] g-oikonomou opened #487 "Some defaults don't play nicely with each other"
Default `UIP_CONF_BUFFER_SIZE` is 1280

Default `QUEUEBUF_CONF_NUM` is 8

Each queuebuf can host 128 bytes. Means with the current defaults, we are unable to send out a full-sized IPv6 datagra.

Perhaps we can have a CPP-stage check and throw a warning when the number of queuebufs is too low?

@nfi

[2018-05-04 14:27] g-oikonomou opened #488 "Fix some PLATFORMS_ONLY typos"
Just to make sure this doesn't slip through the cracks:

[code]

Needs changed to `cc2538dk` for the `storage/antelope-shell` and `storage/cfs-coffee` examples.

[2018-05-04 14:30] g-oikonomou commented on #425
@nfi #430 closes this here, right?

[2018-05-04 14:34] g-oikonomou commented on #488
Should also allow antelope-shell for zoul, should work

[2018-05-04 14:34] nfi commented on #425
Yes, I think so.

[2018-05-04 14:35] #425 closed

[2018-05-04 14:35] joakimeriksson commented on #488
yes - will fix that while testing it. PR is coming later today!

[2018-05-04 14:39] g-oikonomou opened #489 "Adhere to the CoAP spec more strictly"
Some parts of the code are too forgiving, e.g. when we encouter a packet with an option longer than what the spec allows, we keep processing it instead of dropping it with a BAD_REQUEST response code.

[2018-05-04 19:02] simonduq commented on #353
@g-oikonomou you mean the `referenceVar` or the `core communication` thing?
Because the latter should be solved since https://github.com/contiki-ng/cooja/pull/6

There was a "core communication" error that happened all the time and was not fatal. But you wouldn't see it unless you look for it. When a CI test failed, you'd see a dump of the logs, and be easily misled into thinking it was the error

[2018-05-04 19:04] joakimeriksson commented on #488
Fixed by #490.

[2018-05-05 19:35] lafka commented on #244
In lack of better place to put this and before i forget:

There's some issue in [rpl-classic/rpl-dag.c:507-508](https://github.com/joakimeriksson/contiki-ng/blob/test/llsec-subghz-lwm2m/os/net/rpl-classic/rpl-dag.c#L507) which breaks router <> dagroot communication.

#### Setup:
* 1 device acting as DAG root with fd00::/64 and MAC `::a`
* 1 device acting as router with MAC `::b`
* both are compile

[2018-05-06 09:03] simonduq commented on #244
Could you please open a new Github issue for this? Thanks!

[2018-05-06 16:43] joakimeriksson commented on #457
closed with #492

[2018-05-06 16:43] #457 closed

[2018-05-07 09:23] chenek opened #496 "How enable/use LLSEC to test rpl-border-router and cc26xx-web-demo running on LAUNCHXL-CC1310?"
I would like to enable/use LLSEC to test cc26xx-web-demo running on LAUNCHXL-CC1310 to communicate with rpl-border-router running on Raspberry Pi with LAUNCHXL-CC1310 as slip-radio. However, I cannot find any explicit document showing me how to do it. Does anyone make this work before? or LAUNCHXL-CC1310 cannot support LLSEC?

[2018-05-07 13:08] simonduq commented on #496
Hey wait, just wanted to clarify one thing: link-layer security is supported in TSCH (see TSCH doc and tutorials), but missing in CSMA. There is no longer a layer called `LLSEC`, but that does not mean there is no link-layer security. But of course with cc1310 the issue is we don't have TSCH.

[2018-05-07 13:45] chenek commented on #496
@simonduq so, will Contiki-NG support TSCH on CC13xx?

[2018-05-07 13:48] simonduq commented on #496
Yes that's absolutely on the roadmap. And part of https://github.com/contiki-ng/contiki-ng/issues/21

[2018-05-08 15:32] simonduq opened #498 "RPL Lite: do not allow skipping sequence number"
With the current `rpl_timers_schedule_dao`, we skip a seqno in case multiple parent switches happen within `RPL_DAO_DELAY` (4s). Would be neater to stick to sequential increase, so the root gets clues about potential DAO losses.

We might also want to rework `handle_dao_timer` entirely, the logic currently is a bit complex.

[2018-05-08 17:35] #465 closed

[2018-05-09 19:04] simonduq commented on #350
So, marking at 4.2

[2018-05-09 19:26] ianno opened #499 "RPL Lite (and Classic to a lesser extent) issue in congested environment"
I tried running the simulation in `examples/rpl-udp/rpl-udp-cooja.csc` using nodes with TSCH enabled.
In this scenario, nodes will periodically lose their connection to the network (recurrent 'Not reachable yet' messages).
I'm pasting the modified Makefile (`examples/rpl-udp/Makefile`):

[code]

[2018-05-09 19:32] ianno commented on #499
It seems the issue is with the RPL LITE driver.
Using `MAKE_ROUTING = MAKE_ROUTING_RPL_CLASSIC` in the Makefile makes the simulation working without problems.

[2018-05-09 19:35] simonduq commented on #499
Hey I believe the issue to be specific to Cooja motes, where there are known sync issues. But I see your added comment, definitely needs investigating more.

[2018-05-09 20:13] ianno commented on #499
Thanks for the super fast reply.
If it can help, this is what happens:

[code]

[2018-05-09 21:06] simonduq commented on #499
OK, am looking into this. It actually is not related to TSCH but rather RPL Lite in congested environment. Here we're congested because all nodes in Cooja are in interference range (each Tx interferes all 15 neighbors), and because of TSCH, in the default config with a slotframe of 7, gives each node only 14 chances to send each second. Setting a slotframe length of 3 instead, or reducing the inte

[2018-05-09 21:43] ianno commented on #499
Of course. Happy to help!

[2018-05-09 22:11] simonduq commented on #499
OK, one more mechanism that seems to play very poorly under such congestion is squared ETX in MRHOF, disabled by default in Classic but enabled in Lite. Thinking we actually want it disabled for both, by default.

[2018-05-09 22:41] simonduq commented on #499
So, with the two PRs above you should be good.
https://github.com/contiki-ng/contiki-ng/pull/503 is even probably sufficient to get things working.

[2018-05-09 23:08] ianno commented on #499
That was fast:-) Awesome.
Thanks a lot!

[2018-05-11 01:00] chenek commented on #496
Thanks @simonduq

[2018-05-11 01:01] #496 closed

[2018-05-12 21:00] simonduq commented on #499
Both PRs now merged, closing.

[2018-05-12 21:00] #499 closed

[2018-05-13 03:41] cuongdodinh opened #514 "./../os/net/ipv6/uip-ds6.c:94:22: error: ‘iid_prefix’ defined but not used"
Dear All,

I run in Raspi, How can I fix this error?

make TARGET=native all
  CC        ../../os/net/ipv6/uip-ds6.c
../../os/net/ipv6/uip-ds6.c:94:22: error: ‘iid_prefix’ defined but not used [-Werror=unused-const-variable=]
 static const uint8_t iid_prefix[] = { 0x00, 0x00 , 0x00 , 0xff , 0xfe , 0x00 };
                      ^~~~~~~~~~
cc1: all warnings being treated as errors
../../Makefile.inc

[2018-05-13 06:16] chenek commented on #514
@cuongdodinh I suppose you can remove claim iid_prefix in uip-ds6.c to fix the issue.

[2018-05-13 10:53] simonduq commented on #514
What concerns me here is that this wasn't caught by the CI suite. Which compiler are you on? It looks like almost all compiled (all in our test suite) do not issue unused variable warnings on `const`. Ideally we should first reproduce in Docker, add a test and then fix.

[2018-05-13 11:03] cuongdodinh commented on #514
Dear Simonduq,
I use Raspi 3. Downloaded Contili-NG on it. Then compiler in Raspi 3.

Thank you.

[2018-05-13 11:32] simonduq commented on #514
What's your compiler version?

[2018-05-14 12:01] cuongdodinh commented on #514
Dear SemonDuq,

Raspbian 6.3.0.0 -18+raspi1 + deb9u1 (20170516)

[2018-05-14 12:07] simonduq commented on #514
Please provide the full output, e.g.
[code]

[2018-05-14 13:52] cuongdodinh commented on #514
Dear SimonDuq,
Here you are.
pi@raspberrypi:~ $ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/arm-linux-gnueabihf/6/lto-wrapper
Target: arm-linux-gnueabihf
Configured with: ../src/configure -v --with-pkgversion='Raspbian 6.3.0-18+rpi1+deb9u1' --with-bugurl=file:///usr/share/doc/gcc-6/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/u

[2018-05-14 15:29] #168 closed

[2018-05-14 21:08] simonduq opened #517 "Update Docker image to latest compilers"
And make sure to remove `-Wno-unused-const-variable` from `Makefile.include` once this is done. See https://github.com/contiki-ng/contiki-ng/issues/514

[2018-05-14 21:57] g-oikonomou opened #518 "Native fails to build on OS X"
#432 broke native builds on OSX: clang does not like `--fatal-warnings`

The corresponding flag on OSX can be `-fatal_warnings` (one dash, and an underscore).

[2018-05-15 01:28] cuongdodinh commented on #514
Dear Simonduq,
Thank you very much.

[2018-05-15 01:28] #514 closed

[2018-05-15 09:57] cuongdodinh opened #520 "cc26xx-web-demo not joins rpl-border-router on Raspi"
Dear All,
I build cc26xx-web-demo running on LAUNCHXL-CC1310
rpl-border-router build on Raspberry Pi with slip radio running on LAUNCHXL-CC1310
as below. I followed this blog from @chenek
https://sunmaysky.blogspot.com/2018/04/how-to-build-and-run-contiki-ng-cc26xx.html

How can I fix it? Green Led blink fast

sudo ./border-router.native fd00::1/64 -s /dev/ttyACM0
[INFO: Main      ] Starting Conti

[2018-05-15 10:47] chenek commented on #520
It looks your rpl-boarder-router runs. What is the problem?

[2018-05-15 11:12] cuongdodinh commented on #520
Dear @chenek ,
cc26xx-web-demo running on LAUNCHXL-CC1310 not join into RPL.

#12.4b00.0a27.cfc3> ip-nbr
Node IPv6 neighbors: none
#12.4b00.0a27.cfc3>

[2018-05-15 12:17] chenek commented on #520
Make sure you have cc26xx-web-demo and rpl-border-Router Running on the same channel.

[2018-05-15 13:39] dcsouthwick opened #521 "Docker on OSX requires different setup than linux"
OSX does not address USB devices via /dev/bus/usb but though the hypervisor. Attempting to use the linux Docker instructions will fail with somewhat misleading
[code]
that the user might share /dev/bus/usb via docker preferences (in fact, it does not exist on OSX).

I've written a wiki stub that might help others who are using macbooks:
https://github.com/contiki-ng/wiki-sandbox/wiki/Docker-on-OSX

[2018-05-15 16:25] yatch commented on #521
Nice. Yes, it'd be better to have "on macOS" section in [Docker](https://github.com/contiki-ng/contiki-ng/wiki/Docker) wiki page at least.

A couple of questions:

* Your instruction is for "Docker Toolbox on macOS", isn't it...? I'm using Docker For Mac, that doesn't support USB pass-through...
* Why do you need socat? "Allow connections from network clients" option in "Security" tab of "X11 Pref

[2018-05-15 19:38] dcsouthwick commented on #521
Hi - yes, at closer inspection I am using docker-machine, which is the "old" docker provided from Docker Toolbox. Regarding socat, I'm not sure but simple x11 didnt work for me. I found it from https://github.com/moby/moby/issues/8710

[2018-05-16 02:14] cuongdodinh commented on #520
Dear @chenek ,

In slip-radio folder, I added #define RF_CORE_CONF_CHANNEL 25 in project-conf.h,
But when print to screen, it's still show chanel 0;

[INFO: Main      ] Starting Contiki-NG-release/v4.1-135-g7f975db-dirty
                                                                      [INFO: Main      ] - Routing: nullrouting
                               [INFO: Main      ] - Net: slipnet

[2018-05-16 12:27] alexrayne opened #524 "is this project sync with origin github/contiki-os?"
i`ve look to history, and see that github/contiki-os master on sync with this one project.
do you plan to merge with contiki-os?

[2018-05-16 14:48] g-oikonomou opened #525 "Add support for MQTT v5"
MQTT v5 is out: http://docs.oasis-open.org/mqtt/mqtt/v5.0/mqtt-v5.0.html

Adding support for v5 would be great. We currently support aspects of 3.1. We never added support for 3.1.1 (perhaps a good idea to do so, but not sure how much work it'd be).

[2018-05-16 18:09] yatch commented on #521
@dcsouthwick Thanks! Now I'm looking into X11 with Docker on macOS. I'll get back to you later.

[2018-05-17 03:14] chenek commented on #520
Try to use "define IEEE802154_CONF_DEFAULT_CHANNEL      25" instead of "#define RF_CORE_CONF_CHANNEL 25" in project-conf.h

[2018-05-17 03:32] chenek opened #526 "cc26xx-web-demo MQTT disconnected when I use mosquitto_pub to publish topic to IBM Watson IoT"
I setup IBM Watson IoT and make my LAUNCHXL-CC1310 running cc26xx-web-demo. There is no problem to see cc26xx-web-demo publish MQTT messages, such as device status, to IBM Watson IoT. However, when I try to use the following mosquitto_pub command to do publish to control LED on LAUNCHXL-CC1310, I see "MQTT - Disconnected by tcp event 1"

`mosquitto_pub -h 169.45.2.20 -u use-token-auth -P <token> -

[2018-05-17 21:41] AntonioLangiu opened #530 "Ext-flash SensorTag cc2650"
I'm trying to use the external flash with the SensorTag cc2650. After several tries I compiled the `cc26xxx-web-demo` example and I noticed that the new interface to interact with the SPI flash is failing also there:

[code]

After some debugging I noticed that the failure is happening [here](https://github.com/contiki-ng/contiki-ng/blob/develop/arch/dev/ext-flash/ext-flash.c#L223).

Is there some

[2018-05-17 21:45] g-oikonomou commented on #530
How are you getting the tag to print debug output for you?

[2018-05-17 21:49] g-oikonomou commented on #530
I'm also curious as to the values of `rbuf[0]` and `rbuf[1]`. Can you add a print for them in the fail scenario, just before the `return VERIFY_PART_POWERED_DOWN;`?

[2018-05-17 23:16] g-oikonomou commented on #526
https://console.bluemix.net/docs/services/IoT/devices/mqtt.html#mqtt

I'm not sure what I means. I suspect your problem could be due to the client ID in the publish message.

This seems to be related to how you are using Watson.

[2018-05-17 23:33] g-oikonomou commented on #518
Fixed in #519

[2018-05-17 23:33] #518 closed

[2018-05-18 02:26] cuongdodinh commented on #520
Dear @chenek,

Thank for your help. I change define in arch #define IEEE802154_CONF_DEFAULT_CHANNEL                      25
Now it is working.
Thank you.

[2018-05-18 02:26] #520 closed

[2018-05-18 03:40] chenek commented on #526
@g-oikonomou I don't subscribe cc26xx-web-demo running on LAUNCHXL-CC1310 to events from other devices so I don't think this is the issue. I try to use mosquitto_sub to subscribe to "iot-2/cmd/leds/fmt/json" and I also cannot get mosquitto_pub to publish to the same topic. I suspect it's format issue on topic  "iot-2/cmd/leds/fmt/json"

[2018-05-18 03:44] chenek commented on #530
The CC2650 on the SensorTag uses the same I/O pin for SPI SCLK signal and JTAG TDI signal. The current firmware version of the XDS110 does not support the 2-pin c-JTAG standard, so it needs to use TDI and TDO in addition to TCK and TMS (full 4-pin JTAG). Due to this shared resource, it is not possible to access the external serial flash while debugging the SensorTag with the Debug DevPack. You can

[2018-05-18 09:20] chenek commented on #520
I also revise the content in https://sunmaysky.blogspot.com/2018/04/how-to-build-and-run-contiki-ng-cc26xx.html in case someone will have the same issue again when he/she follows the steps.

[2018-05-18 09:33] cuongdodinh commented on #520
Dear @chenek ,
Thank you.

[2018-05-18 12:12] yatch commented on #524
I don't think so.

Regarding the history you looked, contiki-ng started as a fork of contiki-os as as [this document](https://github.com/contiki-ng/contiki-ng/wiki/More-about-Contiki‐NG) says. That's why you see commits of contiki-os in contiki-ng commit history.

[2018-05-18 12:43] g-oikonomou commented on #526
So, let me try to make sure I understand your setup

* You are using IBM Watson
* You are using mosquitto to subscribe to a topic
* You are using mosquitto to publish to the same topic
* It doesn't work
* You are raising a Contiki-NG issue about this

What have I missed? :)

[2018-05-18 12:47] chenek commented on #526
Actually, it’s CC26xx-web-demo subscribes to IBM IoT platform and I use mosquitto_pub to the topic. Then, I see CC26xx-web-demo tcp disconnection— "MQTT - Disconnected by tcp event 1" and "APP - MQTT Disconnect. Reason 1".

[2018-05-18 12:47] g-oikonomou commented on #526
What did I misunderstand?

[2018-05-18 12:49] chenek commented on #526
I just do this step to verify if there’s problem in topic format.

[2018-05-18 12:53] g-oikonomou commented on #526
OK but if a mosquitto pair cannot sub/pub to each other, we don't have a bug in the code, we are obviously doing something wrong with Watson. I believe Watson has things called "devices" "applications" and whatnot. This is what the first `d:` signifies in the client identifier. I am wondering whether this is causing trouble.

There is nothing wrong with the topic.

Try using actual JSON data as th

[2018-05-18 12:55] chenek commented on #526
I try it and I see the same disconnect issue. :-(

[2018-05-18 13:30] AntonioLangiu commented on #530
@g-oikonomou I'm using the Debug DevPack. The values of `rbuf[0]` and `rbuf[1]` are `0xEF` and `0x12` respectively.

[2018-05-18 13:33] g-oikonomou commented on #530
OK so what @chenek is the primary suspect here.

I'd also like to double-check that the DID and MID defined in [`board.h`](https://github.com/contiki-ng/contiki-ng/blob/develop/arch/platform/srf06-cc26xx/sensortag/cc2650/board.h) are correct for your device. We did test them, but I believe there have been older sensortags using a different flash part, so could yours be one of them?

[code]

[2018-05-18 13:35] AntonioLangiu commented on #530
Yep! I think this is the problem! I fixed it with this patch:
[code]

[2018-05-18 13:35] g-oikonomou commented on #530
Ah we cross posted there... Please change board.h with those values. Looks like your device is wearing a Winbond... Just out of curiosity, how old is your tag? Does it have a revision sticker on it?

[2018-05-18 13:36] g-oikonomou commented on #530
It's a W25X40CL (4Mbit).

[2018-05-18 13:40] AntonioLangiu commented on #530
Yes, it has a revision sticker on it and says `Rev: 1.3.0` and `HW Rev 1.2.0`. (I don't know how old is it since I did not directly buy it, but I'll ask).

[2018-05-18 13:53] g-oikonomou commented on #530
It's an older one. New ones have the MX25R8035F (8MBit).

What a mess... I need to think about this.

[2018-05-18 14:09] g-oikonomou commented on #530
@AntonioLangiu please try #534

Simply defining `SENSORTAG_CC2650_REV_1_2_0` as 1 in your `contiki-conf.h` or `project-conf.h` should do it for you.

[2018-05-18 14:30] AntonioLangiu commented on #530
I tested it with the `cc26xxx-web-demo` example and I confirm that it fixes the problem.

[2018-05-18 16:15] #530 closed

[2018-05-21 14:04] kmartinez opened #535 "coap example issue"
I followed the install etc in the coap example
https://github.com/contiki-ng/contiki-ng/wiki/Tutorial:-CoAP
but running the "test coap get ...." I see:
events.js:141
      throw er; // Unhandled 'error' event

is there just a step missing in the install?

[2018-05-21 14:07] #535 closed

[2018-05-21 15:20] kmartinez opened #536 "re-mote temperature"
an example would be useful of using the sht25 code (in zoul/dev) as the remote-revb temperature sensor?
maybe its a simple thing missing in the config for that platform?
Thanks!

[2018-05-21 15:35] g-oikonomou commented on #536
@kmartinez Hi Kirk great seeing you here. Is this not suitable? https://github.com/contiki-ng/contiki-ng/blob/develop/examples/platform-specific/zoul/test-sht25.c

[2018-05-21 19:26] kmartinez commented on #536
Hi George
I just wanted to add the sht to the coap demo - and have a feeling that a couple of #defines brings in the right code into the standard temperature sensor interface - via
https://github.com/contiki-ng/contiki-ng/blob/develop/examples/coap/coap-example-server/resources/res-temperature.c

[2018-05-21 21:42] g-oikonomou commented on #536
Sure this resource exposes a CoAP resource linked to a sensor symbol called `temperature_sensor`. Not quite sure if the zoul/remote exposes the SHT with a symbol of that name. Should be pretty straightforward to do if not.

Also, see what we want to do moving forward #374

[2018-05-22 15:55] Adu143 opened #537 "CC2650 Binary code size more than 128kb"
I am unable to load the bin file generated for cc2650 examples since it is more than 128kb. Is there any way i can reduce it or have i missed something during my compilation?

[2018-05-22 15:58] g-oikonomou commented on #537
If you have made no changes to the code, then you must have missed something during either the build stage or while programming the device

[2018-05-22 16:03] Adu143 commented on #537
I have not done any code changes. I compiled the toolchain (Linux) followed by a 'make' for the board cc2650. It generated a bin file of 131kb for Very Sleepy Demo.

[2018-05-22 19:27] niziak commented on #537
New newlibc grows a bit. Try to add to Makefile:
[code]
but even with this you cannot get sizes from older toolchain.

[2018-05-22 21:14] g-oikonomou commented on #537
The file size of the .bin is irrelevant. If newlib has grown we perhaps need to have a look into this.

I cannot say I immediately understand what you are trying to say here, @niziak

[2018-05-23 05:46] niziak commented on #537
Ok, I'm to fast. Maybe my comment is not relevant to this issue.

In my project I noticed serious code grow up (by 30kB) when the same source was compiled using gcc 5.4.1 with newlib 2.4.0 (comparing to gcc 4.8.4 with newlib 2.1.0).

Most problematic code grow up comes from time handling functions (_mktime, gmtime_r_) which pulls malloc and timezones manipulation stuff, etc.

As a partial solution

[2018-05-23 07:49] joakimeriksson opened #538 "GPIO API"
I am currently porting the GPIO API to the EFR32. But I discovered that the current GPIO hal is a bit hard to implement as there is potentially up to 160 GPIOs and my device happen to have 65 GPIOs.

My suggestion is to change the API slightly - to focus the API on pins and avoid the masks. If we do that we can allow any type of pin type including a struct type or introduce Port and Pin that seems

[2018-05-23 11:10] g-oikonomou commented on #538
I cannot see the reason why change the current pin representation from a simple number to a port.pin struct. Common perhaps, but not universal.

The problem is the masking. It applies to functions that manipulate multiple pins in one go (which we can probably live without) but also to interrupt handling logic. This latter we'll need to think about very carefully. This masking is also critical for

[2018-05-23 11:15] g-oikonomou commented on #538
Or those masks could simply be a `uint8_t` array and then the platform tells us how many elements...

[2018-05-25 08:15] BlueberryTech01 commented on #440
Node-Red works with the example CC26XX-Web-Demo

[2018-05-25 16:44] g-oikonomou commented on #186
Just revisiting this. @yoyo890121 @andy199310 if I understand correctly you are saying that sometimes this conditional:

[code]
is true, even when the rtimer has not wrapped around.

One thing I'd like to check is the caller to `update_ticks()`. It might help to know if this happens on device wakeup or on a normal SysTick interrupt.

I'm also wondering whether adding the line below to the start of

[2018-05-25 17:02] g-oikonomou commented on #186
One more thing to try out:

[code]

[2018-05-25 18:15] g-oikonomou commented on #537
So I just tried a bunch of examples with 2017-q4-major. Surely different resulting code sizes, but I cannot reproduce problems of such magnitude.

Closing this. Happy to re-open if we have details of which example fails to link under what toolchain version.

Note that the recommended / tested toolchain is the one used in the docker image. It is somewhat ancient, but that's a different story...

[2018-05-25 18:15] #537 closed

[2018-05-25 18:16] simonduq commented on #524
Let me also point you to this: https://github.com/contiki-ng/contiki-ng/wiki/Where-to-report-issues,-ask-questions,-etc.%3F

[2018-05-25 18:16] #524 closed

[2018-05-25 18:34] simonduq opened #543 "Automate Docker image maintenance"
We need a new Travis test, that:
* Whenever merging to `develop`, builds from Dockerfile and pushes the new image to Dockerhub;
* For PRs, build the Dockerfile whenever it was modified, and runs the test suite on the resulting image, so that one can test changes in an automated and isolated (per-PR) way.

[2018-05-30 04:09] firmwareguru commented on #83
You know what, I wouldn't make any official changes here until a working port to the cc13x2 or cc26x2 device is made.  I'm taking a cursory look at that now, having a couple of LAUNCHXL-CC1312R1's on my desk.

From a platform perspective, they are very similar.  I would almost say cc13xx-cc26xx is still appropriate as a name.  From a cpu perspective, again, very similar and the ti-lib abstraction

[2018-05-31 18:38] firmwareguru opened #564 "Add support for TI cc13x2 and cc26x2 platforms"
This issue is to track the progress of the various porting efforts in the Contiki ecosystem to support the TI cc13x2 and cc26x2 devices.  These platforms should be ported into Contiki and Contiki-NG at the same time.

Porting efforts known at this time:

- https://github.com/firmwaremodules/contiki/tree/cc26x2-cc13x2
The goal of this porting effort is to investigate and implement maximum code re-u

[2018-06-01 23:46] firmwareguru commented on #564
I'm looking at this in the context of Contiki first.  I've started a [wiki ](https://github.com/firmwaremodules/contiki/wiki/Texas-Instruments-CC26X2-CC13X2-Contiki-Port )to document what is happening.

[2018-06-02 09:59] simonduq commented on #564
That's awesome :)

[2018-06-03 14:08] joakimeriksson commented on #374
Many of the current devboards have several instances of temperature in different sensors so I do think we should allow reading all the different temperatures

[2018-06-04 18:39] simonduq opened #565 "TSCH: account for preamble when centering guard time on expected Rx time"
Note that this is a platform-dependent thing, as the number of preamble required for Rx can often be configured.

[2018-06-04 20:35] #543 closed

[2018-06-05 13:28] MartinNPN commented on #564
Hello,

ti is even working on a port, maybe this would be the cleanest way. I think that they will open a PR before October.

[2018-06-06 07:33] #279 closed

[2018-06-07 14:29] g-oikonomou opened #574 "The Shell won't build for MAKE_NET_NULLNET"
It's clearly documented in the wiki that the shell is meant for "interactive IPv6 host inspection and maintenance.", but perhaps we should do something to prevent users from trying to include this in non-v6 firmwares.

Here is what happens with the shell example. For this particular example we can just change the Makefile to force `MAKE_NET_IPV6`, not sure how to handle other examples that simply

[2018-06-08 08:47] simonduq commented on #574
Agree it would be a good idea to have the shell also in non-IPv6 scenarios. Useful for general system or MAC-related commands.

[2018-06-08 09:47] g-oikonomou commented on #574
@simonduq please review discussion on gitter with @angelos-oikonomopoulos when you get a mom. We are thinking about splitting commands to respective modules (e.g. TSCH commands in a TSCH module etc)

[2018-06-08 09:51] simonduq commented on #574
Haven't read the details on how to do it, but feature-wise, this is an absolutely necessary evolution for the shell IMO.

[2018-06-08 10:02] g-oikonomou commented on #574
I would suggest then:

* TSCH commands in `tsch.c`.
* 6top in `sixtop.c`
* RPL classic/lite commands in `rpl-classic/rpl.c` `rpl-lite/rpl.c`. Not sure where to put those common to both.
* `help`, `reboot` and `log` can stay where they are.
* Not decided what I'd recommend for the other networky ones.

Somewhat confused about this:

[code]

Why are the two in the bottom outside the `UIP_CONF_IPV6_R

[2018-06-08 10:43] simonduq commented on #574
For the two RPL commands at the bottom, it's simply that their implem is only available for RPL Lite. Agree with additional `-commands.c` files. For things common between RPL Classic and Lite we might have to duplicate. When you think about there's already quite some duplication between the two.

[2018-06-08 10:44] g-oikonomou commented on #574
Yep, agreed. `rpl/lite` and `rpl/classic` would be really cool. Perhaps one day... :)

[2018-06-08 15:24] carlosgp143 opened #576 "Add LWM2M with Queue Mode Tutorial in the Wiki"
Hi!

I have created this [Queue Mode tutorial](https://github.com/contiki-ng/wiki-sandbox/wiki/Tutorial:-LWM2M-and-IPSO-Objects-with-Queue-Mode) in the Wiki sandbox. It teaches the user on how to enable Queue Mode for the example-ipso-objects, download a Leshan Server that supports Queue Mode and run everything together.

It would be nice to add it at the end of the [LWM2M Tutorial](https://github

[2018-06-09 08:19] simonduq commented on #576
Done, thanks a lot!! :)

[2018-06-09 08:28] carlosgp143 commented on #576
Thanks! It would be nice to change this sentence as it is a new page in the wiki:

After doing all this, the example-ipso-objects.c can be compiled and programmed into the device as it was explained "at the beginning of this tutorial".

Instead of "at the beginning of this tutorial", have a link to the LWM2M tutorial :-)

[2018-06-09 08:44] simonduq commented on #576
Done, txs

[2018-06-09 08:44] #576 closed

[2018-06-14 10:49] yatch commented on #285
@Gunzter I'm interested in playing with OSCORE on contiki-ng! Is [oscore_12](https://github.com/Gunzter/contiki-ng/tree/oscore_12) your working branch for this...?

[2018-06-18 12:50] Gunzter commented on #285
@yatch  Hi! I am glad to hear that you are interested :) Yes oscore_12 is my working branch at the moment. I will soon merge it to the main branch. But the repo you linked is the one I am working on.

[2018-06-18 13:13] yatch commented on #285
@Gunzter Hi, thank you for your message! I got it 😄

[2018-06-19 14:48] carlosgp143 opened #582 "Small fix in the LWM2M with Queue Mode Tutorial"
Hi!

I just realized that I missed one important aspect in the LWM2M with Queue Mode tutorial, which is to define the sleep and wake up behavior according to the hardware platform through the `module-macros.h`. So I have created [this page](https://github.com/contiki-ng/wiki-sandbox/wiki/LWM2M-and-IPSO-Objects-with-Queue-Mode) in the sandbox, which has the same content as before plus the new stuff

[2018-06-21 16:44] bcrem opened #583 "Power-cycling the radio breaks interrupt handling from the sensor controller (cc1310)"
We're using the cc1310's sensor controller to wake up the main processor with an interrupt when sensor data crosses certain thresholds.  When we recently switched to a duty-cycling radio scheme (TSCH), we stopped receiving these interrupts.  We can reproduce this problem by just power-cycling the radio with these two lines:

[code]

[2018-06-22 12:41] tdesmet opened #584 "cc1310 connection issue when logging is enabled"
I have two cc1310's, one used as a slip radio connected to a beaglebone and one with the lwm2m-ipso-objects.
I got the rpl border router and leshan server working and when I start the node it connects to the leshan server and I can read the objects.

But when I add the following logging to the lwm2m-ipso-objects example the node connects to the network and is disconnected or unreachable after a fe

[2018-06-24 15:30] g-oikonomou commented on #466
This is actually worse than reported here. Our current tunslip6 won't work with the border router on Mac OS.

[code]

[2018-06-26 10:28] #466 closed

[2018-06-26 20:59] akrv opened #587 "compilation for CC1350 sensor tag fails"
fatal error: ioc.h: No such file or directory
 #include "ioc.h"
is the error and it fails for any boards in this platform

[code]
same error occrs on all of the boards in this platform
I tried to compile contiki-ng for CC1350 sensorTag.
This same works for contiki-os repo.
I want to start my development with the latest and developing version of Contiki

can you please point me in the right directi

[2018-06-26 21:13] akrv commented on #587
missed the following
# git submodule update --init --recursive

and then make clean and make works!

[2018-06-26 21:13] #587 closed

[2018-06-28 12:45] simonduq commented on #582
Done. Thanks!

[2018-06-28 12:45] #582 closed

[2018-07-05 08:12] Benedikt1992 opened #591 "etimer affects local variables"
While using event timer the values of certain local variables doesn't behave as expected. Which means they contain values that are not reasonable. I couldn't find a pattern which variable will be affected but in a given program it's always the same variable.

In the original use case the etimer is used to poll a value `k` times. Afterwards a timeout happens.

I've build a minimal example based on

[2018-07-05 09:41] ivan-alekhin commented on #591
@Benedikt1992,
I guess the stack variable `k` is getting changed because of the context switch in `PROCESS_WAIT_EVENT_UNTIL`. Basically, you cannot "reuse" stack variables in a code block where you are using a context switch: one of the other processes may have a stack variable in the same place in the memory, and if this process changes its variable, the variable in your process also will be chan

[2018-07-05 10:22] Benedikt1992 commented on #591
Thank you for your reply. Indeed changed `static` the behaviour to the expected one.

[2018-07-05 10:22] #591 closed

[2018-07-06 13:49] hsmgitr opened #592 "Getting Next hop address"
In function, rpl_ext_header_srh_get_next_hop(uip_ipaddr_t *ipaddr)
even a global address is converted to its link-local equivalent. This scheme will work only if we are using SLAO. If DHCP is used, the link local address may have no relationship with the GUA/ULA that may be assigned. So the tcpip will try to send the packet to the next hop whose link local address is junk.
What is is issue with se

[2018-07-09 14:57] cve-reporting opened #594 "Stack based buffer overflow while parsing AQL (parsing next token)"
Function next_token that provides next token during AQL parsing tries to memcpy input data (part of AQL files) into fixed size buffer.
Allocated buffer can fit only DB_MAX_ELEMENT_SIZE (16) bytes and the check is missing.
Crash line: aql-lexer.c:238

Declaration of buffer:

aql.h:117:
	typedef char value_t[DB_MAX_ELEMENT_SIZE];

db_options.h:104:
	#define DB_MAX_ELEMENT_SIZE             16

aql.h:

[2018-07-09 14:57] cve-reporting opened #595 "Stack based buffer overflow while parsing AQL (parsing next string)"
Function next_string that provides next string during AQL parsing tries to memcpy input data (part of AQL files) into fixed size buffer.
Allocated buffer can fit only DB_MAX_ELEMENT_SIZE (16) bytes and the check is missing.
Crashing line: aql-lexer.c:209

Declaration of buffer:

aql.h:117:
	typedef char value_t[DB_MAX_ELEMENT_SIZE];

db_options.h:104:
	#define DB_MAX_ELEMENT_SIZE             16

a

[2018-07-09 14:58] cve-reporting opened #596 "Global buffer overflow while parsing AQL (lvm_set_op, lvm_set_relation, lvm_set_operand)"
Functions lvm_set_op, lvm_set_relation, lvm_set_operand try to memcpy input data (part of AQL files) into fixed size buffer lvm_instance_t->vmcode.
Allocated buffer can fit only DB_VM_BYTECODE_SIZE (128) bytes and the check is missing.

Declaration:

db-options.h:110:
	#define DB_VM_BYTECODE_SIZE		128

aql-parser.c:108:
	static unsigned char vmcode[DB_VM_BYTECODE_SIZE];

This could potentially lea

[2018-07-09 15:08] cve-reporting opened #597 "Global buffer overflow while parsing AQL (lvm_register_variable, lvm_set_variable_value, create_intersection, create_union)"
Functions lvm_register_variable(), lvm_set_variable_value(), create_intersection(), create_union() write data into global fixed size buffers named variables and derivations making off-by-one error.
Additionally functions lookup(), print_operand(), print_derivations() (only in DEBUG mode), lvm_get_derived_range() read the data from buffers variables and derivations making similar off-by-one error.

[2018-07-09 15:09] cve-reporting opened #598 "Global buffer overflow while parsing AQL (lvm_shift_for_operator)"
Function lvm_shift_for_operator() write data into global fixed size buffer named vmcode, with wrong size check.

Buffer is declared as:
db-options.h:110:
	#define DB_VM_BYTECODE_SIZE		128

aql-parser.c:108:
	static unsigned char vmcode[DB_VM_BYTECODE_SIZE];

Following line (at lvm.c line 345) moves the data by (sizeof(operator_t) + sizeof(node_type_t)) bytes to the right:
	memmove(ptr + sizeof(ope

[2018-07-09 16:47] cve-reporting opened #599 "Stack based buffer overflow while parsing AQL (storage of relations)"
Macro AQL_ADD_RELATION write data into stack based fixed size buffer named relations without any check on number and sizes of added relations.
Buffer is declared as:
aql.h:148:
	struct aql_adt {
	  char relations[AQL_RELATION_LIMIT][RELATION_NAME_LENGTH + 1];
..

db-options.h:128
	#define AQL_RELATION_LIMIT     		3
db-options.h:167
	#define RELATION_NAME_LENGTH		10

usage:
aql.h:191:
	#define AQL_

[2018-07-11 12:21] cve-reporting opened #600 "Stack based buffer overflow while parsing MQTT messages (parsing PUBLISH message with variable length header)"
Function `parse_publish_vhdr()` that parses `MQTT PUBLISH` messages with variable length header (see details in: http://www.steves-internet-guide.com/mqtt-protocol-messages-overview/) tries to `memcpy` input data into fixed size buffer.
Allocated buffer can fit only `MQTT_MAX_TOPIC_LENGTH` (64) bytes and the length check is missing.

Declaration of buffer:
[code]

Overflow: `contiki-ng/os/net/app-

[2018-07-11 12:51] cve-reporting opened #601 "Stack based buffer overflow while parsing JSON file"
Function `push()` that implements stack push operation does not check whether new elements are still within allocated buffer.
It returns error only before ending the function, but this value is never checked in JSON parser, so the next push operations are not blocked.

`contiki-ng/os/lib/json/jsonparse.h:41`:
[code]

Declaration of the buffer: `contiki-ng/os/lib/json/jsonparse.h:44-55`
[code]

Fun

[2018-07-11 15:02] tamouna opened #602 "Testing contiki-ng implementation which includes TSCH and the 6TiSCH with F-interop platform"
I'm trying to execute the test cases 6TiSCH implemented on F-interop platform.  I choosed contiki-ng implementation for running these tests. I got stuck on the 1st test case "TD_6TiSCH_SYN_01" which aims to check that a 6TiSCH node keep synchronized through pinging it.

I cannot ping the 6TiSCH node from my DAGroot. I flashed the code "simple-node" on my openmote cc2538 to act as a 6TiSCH node.

H